[2017-07-04 14:24] jesskelsall opened #380 "Rule request: mocha-avoid-skip"
Pretty straightforward, disallow use of Mocha's [`.skip()`](https://mochajs.org/#inclusive-tests) method on tests.

Like with `mocha-avoid-only`, its benefit would be to stop temporary code making it into a build, preventing tests from being ran.

I'd imagine this isn't too different to `mocha-avoid-only` to implement.

[2017-07-05 02:48] buu700 opened #381 "no-unnecessary-local-variable false positive"
Code like the following incorrectly triggers a lint error:

[code]

[2017-07-06 12:17] chrismbarr opened #382 "Deprecate the `no-var-self` rule and replace with no-this-assignment"
The [TSLint 5.5.0 release](https://github.com/palantir/tslint/releases/tag/5.5.0) introduced the `no-this-assignment` rule (**[📖 Docs](https://palantir.github.io/tslint/rules/no-this-assignment), [📄 Code](https://github.com/palantir/tslint/blob/master/src/rules/noThisAssignmentRule.ts)**) that seems to do the same thing as the `no-var-self` rule in this project.

  If these have overlap, it might

[2017-07-12 18:17] cdeutsch opened #383 "Tweak `react-a11y-anchors` to ignore `href="#"` if `onClick` is present"
I don't think this part of `react-a11y-anchors` is a valid rule...

http://webaim.org/techniques/hypertext/#keyboard

...at least not if `onClick` is present

From the article...

[code]

If `onmouseover` was `onclick` then this statement is false because the click **would** do something.

Using `<a href="#" onClick="foo()">` to trigger Javascript onClick is a very common pattern.

[2017-07-17 20:56] mohsen1 opened #385 "no-single-line-block-comment needs to allow JSDoc"
Code like

[code]

...is very valid and there is no point of breaking that comment into multiple lines.

Using a `//` comment will not carry over the comment in JSDoc.

[2017-08-18 04:57] #382 closed

[2017-08-18 05:00] #379 closed

[2017-08-22 10:49] 5angel opened #387 "Misnamed import when trying to import a default class"
It expects default imports to start with a lower case letter, but that in turn contradicts the common rule of writing classes with a first upper case letter.

[2017-08-25 02:51] mblandfo opened #388 "Rule request: type check conditionals"
A couple bugs that are very easy to accidentally write:

[code]

I am proposing a rule such as noSuspiciousConditionRule.ts that takes an array of string or regex as input, and if any of these matches the type of a conditional it fails. I have this mostly implemented (I based it on noConstantConditionRule.ts), and can PR it if it sounds like a good idea to add to this repository.

Random notes in

[2017-08-26 10:31] karfau opened #389 "mocha-no-side-effect-code reported when including/excluding tests"
The `mocha-no-side-effect-code` is also triggerd when using one of the following features of mocha:
http://mochajs.org/#inclusive-tests
http://mochajs.org/#exclusive-tests

I think this should not happen.

[2017-08-28 23:56] dawsbot opened #390 "react-a11y-image-button-has-alt toLowerCase error throws"
Only upon enabling `"react-a11y-image-button-has-alt"` with a value of `true` in our `tslint.json` do we begin seeing this issue. Can verify that other rules are passing successfully in our codebase.

[code]

---

[sist](https://github.com/dawsonbotsford/sist) output:

### node
`npm -v`: 5.4.0
`node --version`: v8.4.0

### shell
`uname`: Darwin
`echo $SHELL`: /bin/zsh
`echo $TERM`: xterm-256color-

[2017-09-01 12:00] willisplummer commented on #390
I've been seeing this too:

[code]

[2017-09-01 12:19] willisplummer commented on #390
okay it looks like this is the code responsible for the error:

[code]

when i removed the role attribute the error went away

[2017-09-02 04:00] willisplummer commented on #390
https://github.com/Microsoft/tslint-microsoft-contrib/blob/master/src/reactA11yImageButtonHasAltRule.ts#L56-L60

seems like the `typeAttribute` truthy check ought to prevent it from reaching toLowerCase.

FWIW I was a little confused. I actually arrived this issue because I was seeing the same error from the `reactA11yImgHasAltRule`, which makes similar truthiness checks [here](https://github.com/

[2017-09-06 15:46] connor4312 opened #392 "Add detection for @bind decorators in react-this-binding"
It's common practice to do something like the following:

[code]

Unfortunately the `react-this-binding-issue` rule isn't aware of this and gets tripped up.

I propose adding an option like `{ "bindDecorators": ["bind"] }` which looks at decorator names and flags functions with those decorators as having been bound. It can have sensible defaults like `["bind", "Bind"]`.

[2017-09-06 17:38] german1983 opened #393 "When default class is being used maxFuncBodyLengthRule is throwing a runtime error"
If you are using default classes and you try to use maxFuncBodyLengthRule the rule fails because class.name is undefined and it's trying to get class.name.text

`TypeError: Cannot read property 'text' of undefined
    at MaxFunctionBodyLengthRuleWalker.visitClassDeclaration (C:\Projects\Bell\sln.cd\cd-services-widget\node_modules\tslint-microsoft-contrib\maxFuncBodyLengthRule.js:94:42)
    at MaxF

[2017-09-08 03:33] Glavin001 commented on #393
For example:

[code]

Will throw error:

[code]

However, the following will pass:

[code]

[2017-09-18 18:34] flipchart opened #394 "react-a11y-anchors where link text differs by case & whitespace"
The rule "Links with the same HREF should have the same link text." in react-a11y-anchors is triggered when the links differ by case, as well as due to irrelevant white space (i.e. indentation). Could this be relaxed to allow differences in case, and to ignore leading and trailing whitespace?

[2017-10-03 16:36] NiKlimenko commented on #389
You can configure a rule: "mocha-no-side-effect-code": [true, {"ignore": "it\\.skip.*"}]
@loicraux @HamletDRC but it really should be the default, don't you think?

[2017-10-12 11:21] chrismbarr opened #395 "no-reserved-keywords not finding "catch" in all places"
I have this code:
[code]

Running with
- __TSLint version__: 5.7.0
- __TypeScript version__: 2.5.3
- __Running TSLint via__:  gulp

#### Actual behavior

It only reports a violation in the typedef

![image](https://user-images.githubusercontent.com/463685/31462378-94a0e968-ae9a-11e7-85f1-44ad8f7e23b7.png)

#### Expected behavior
I would expect it to also report a violation in the return statement

[2017-10-16 14:31] bertolo1988 opened #396 "What does "Interpolation will only work for template strings" mean ?"
I got lint error which i do not comprehend. Can you help me?

**Code:**

[code]
**Error:**

ERROR:...[13, 33]: Interpolation will only work for template strings.
ERROR:...[14, 37]: Interpolation will only work for template strings.
ERROR:...[14, 51]: Interpolation will only work for template strings.

[2017-10-16 14:52] bertolo1988 opened #397 "Cyclomatic complexity rule is turned off"
I noticed that you are using `"cyclomatic-complexity": false`. Was it a mistake? Why aren't you using it?

[2017-10-16 16:51] HamletDRC commented on #396
Hi @bertolo1988
The contents of the string '${CONFIG_PATH}default.json' looks like a template string... however it is using the single quote mark instead of the ` mark.
The value of defaultOptionsPath will contain `${CONFIG_PATH}default.json`
It looks like what you want to do is have it contain `../../config/default.json`

[2017-10-16 16:51] #396 closed

[2017-10-16 16:52] HamletDRC commented on #397
No, there is no good reason to have this turned off.
The rule was released a lot more recently than our project... so if there are errors then we probably would not take the time to fix it.

In general, I would turn this rule on.

[2017-10-16 16:52] #397 closed

[2017-10-16 16:52] bertolo1988 commented on #396
Thanks alot @HamletDRC . I had no ideia!

[2017-10-16 16:55] HamletDRC commented on #396
In this case, I think it actually did find an error!

[2017-10-16 17:00] bertolo1988 commented on #397
I would really like to have a proper open-source driven and well maintained tslint configuration from Microsoft since there aren't much good ones available.

If you can't handle the fixes right now, maybe you could fork it. Guys like me would really appreciate following your "recommendation".

I would gladly contribute as well.

[2017-10-16 17:01] bertolo1988 commented on #396
Yes it did.

[2017-10-18 13:43] loicraux commented on #389
I am not sure that it should be the default. A deactivated test does not mean its code does not have to pass the linter rules imho... I see only one good reason for using it.skip : when the feature you test is not yet implemented. Sometimes (unfortunately) you also deactivate a broken test because you plan to fix the tested code or the test code later...
But you do not skip a test because its code

[2017-10-18 20:33] karfau commented on #389
@loicraux I'm not sure I'm understanding what you are trying to say.

What I understood from @NiKlimenko's comment is that it might be possible to come to the same behavior by using the suggested configuration. This might or might not hold true, but that configuration might have other side effects, is that what you are trying to say when writing about "not having to pass linter rules"?

Why I file

[2017-10-18 20:57] megamindbrian opened #398 "Disallow object literal casting"
I've fallen for a trap that could probably be avoided with linting.

Basically, if I initialize an object, then cast it, those methods aren't transferrable.
[code]

All the types compile just fine, but you can see the IDE would get tripped up and not tell you that literalObj was not initialized via ``` new MyClass() ``` and therefore someMethod() is not available on that object.

One possible solu

[2017-10-30 03:08] JoshuaKGoldberg opened #400 "Again audit rules that have already been added in TSLint"
If they're in TSLint proper, remove them from the README.md & give a warning in the file for a version or two instead of checking the rule (before removing the file)?

[2017-11-03 08:27] sindresorhus commented on #378
The rule should just ignore imports of the format `.`, `./`, `./index`, for now, until its logic is improved to resolve the actual names. Right now, the rule is completely unusable.

[2017-11-10 17:25] alebrozzoSP commented on #376
I am using Prettier to format my code and it adds the semicolon on class properties that are arrow functions. When the property takes a single line, TSLint throws no error, but if it takes more than one line, I get the `Unnecessary semicolon` message. Since Prettier is formatting on save, I had to change TSL rules from error to warnings.
Here is an example

[code]

[2017-12-06 17:56] JoshuaKGoldberg opened #403 "no-reserved-keywords shouldn't ban "type""
https://stackoverflow.com/questions/33446498/is-type-a-keyword-in-javascript

It's not part of the ES6 spec. Just a TS/Flow construct.

[2017-12-06 18:26] JoshuaKGoldberg commented on #400
Scrolling through file lists and READMEs...

Rules to remove:
* `function-name`: superseded by `tslint`'s `variable-name`
* `missing-jsdoc`: superseded by `tslint`'s `file-header`
* `no-duplicate-switch-case`: superseded by `tslint`'s `no-duplicate-switch-case`
* `no-empty-interfaces`: superseded by `tslint`'s `no-empty-interface`
* `no-reserved-keywords`: superseded by `tslint`'s `no-reserved-key

[2017-12-06 22:24] JoshuaKGoldberg commented on #403
Huh, looks like this is superseded by tslint's `variable-name` rule. Never mind!

[2017-12-06 22:24] #403 closed

[2017-12-16 22:33] pavestru commented on #376
It seems that `no-unnecessary-semicolons` was removed (cannot find it in the [docs](https://palantir.github.io/tslint/rules/)).

For me using this rule was sufficient:
[code]

[2017-12-17 19:59] HamletDRC commented on #376
Yes, we removed no-unnecessary-semicolons from our package because tslint offered 'semicolon' which covered all our cases.

[2017-12-17 19:59] #376 closed

[2017-12-18 10:38] #400 closed

[2017-12-18 12:09] HamletDRC commented on #398
This is a compiler error in TypeScript 2.6. So I think you just need to upgrade to the newest version and it will help you out.

[2017-12-18 12:09] #398 closed

[2017-12-18 13:10] HamletDRC opened #407 "deprecate no-stateless-class rule in favor of no-unnecessary-class"
deprecate no-stateless-class rule in favor of no-unnecessary-class

[2017-12-18 13:11] #407 closed

[2017-12-22 16:09] lijunle commented on #403
I suppose this is still an issue of TSLint. Isn't it?

[2018-01-02 06:27] lijunle commented on #355
It should been fixed in https://github.com/Microsoft/tslint-microsoft-contrib/pull/402 and target for version 5.0.2.

[2018-01-03 05:15] BrendanMcK opened #409 "input with type="radio" incorrectly flagged with react-a11y-role-has-required-aria-props"
I have react .tsx code similar to:

        <input
          type="radio"
          checked
        />

This gets flagged with the error react-a11y-role-has-required-aria-props:

This seems to be a false-positive in this case - we're not using `role=` here, just using a plain native input element, so _no_ additional aria properties should be needed here.

[2018-01-03 05:50] BrendanMcK commented on #409
Looks like the issue is that we're looking for _explicit_ aria-properties, even for elements that have _implicit_ roles. Maybe we should only be looking for aria- properties on elements that have _explicit_ roles? For elements with implicit roles, it's the browser's responsibility to provide the correct behavior. For something like `<input type="radio">`, the browser provides an implicit role=radi

[2018-01-11 22:16] dsifford commented on #115
@HamletDRC Is it expected behavior that this rule flags single line block comments in jsx as an error? This is usually the only way to go about making comments within jsx on a single line.

This is especially hindering when you need to insert a `prettier-ignore` or `tslint:disable-nest-line` statement somewhere within jsx.

Example...

[code]

[2018-01-16 19:40] rbirkgit opened #410 "5.0.2 gives warning about deprecated rules"
Using tslint with 5.0.2 I get this:

Warning: no-duplicate-case rule is deprecated. Replace your usage with the TSLint no-duplicate-switch-case rule.
Warning: no-var-self rule is deprecated. Replace your usage with the TSLint no-this-assignment rule.
Warning: valid-typeof rule is deprecated. Replace your usage with the TSLint typeof-compare rule.

Seems these rules were removed in the main part of

[2018-01-16 21:44] JoshuaKGoldberg commented on #403
Fortunately not.

https://github.com/palantir/tslint/blob/235561e411c58ecbd4d96844fae28e998f0ccbda/src/rules/variableNameRule.ts#L26

[code]

[2018-01-19 09:20] michalzubkowicz commented on #179
Isn't it causing false positive when async/await is used?

[2018-01-31 22:57] iclanton opened #413 "Issues with intentional backslashes in the no-octal-literal rule."
I've noticed that the no-octal-literal rule flags strings with intentionally escaped backslashes (i.e. - `"\\1"` -> \1) get incorrectly flagged by the no-octal-literal rule.

I put together a fix: https://github.com/Microsoft/tslint-microsoft-contrib/pull/412

[2018-02-01 12:59] wwwouter commented on #174
Hi,

I'm use the no-floating-promises rule, but this code mentioned here

[code]

doesn't seem to get caught by that rule.

Did any of you create another rule for this case?

[2018-02-01 18:58] wwwouter commented on #174
Just ignore this, I created my own rule for this specific case (https://www.npmjs.com/package/@wwwouter/tslint-contrib)

[2018-02-01 19:11] JoshuaKGoldberg commented on #174
@wwwouter It should be caught by `strict-boolean-expressions` too, if that helps!

[2018-02-01 19:19] wwwouter commented on #174
@JoshuaKGoldberg Thanks for your response!

I tried strict-boolean-expressions, but even after some fine-tuning there were more than 200 errors in our current code base. Next time when I start a new project, I'll sure use that rule from the get-go!

[2018-02-08 10:49] karfau commented on #410
I would also love to understand how rules are supposed to be deprecated.
The [README.md states about recommended_rules.js](https://github.com/Microsoft/tslint-microsoft-contrib#which-rules-should-i-turn-on):

These sentences are confusing for me a bit since it seems like they contradict each other.
But if `tslint-microsoft-contrib` offers a "stable recommended rule set" that one can extend from, i

[2018-02-08 19:36] ian-craig opened #415 "no-typeof-undefined should exclude globally declared variables like window"
### Bug Report

- __TSLint version__: 5.8.0
- __TypeScript version__: 2.7.0
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
TSLint gives error

[code]

The suggested fix would be:

[code]

which results in `ReferenceError: 'window' is undefined at...`

#### Expected behavior

Ignore `typeof foo !== "undefi

[2018-02-12 21:16] karol-majewski opened #416 "react-unused-props-and-state doesn't work with intersection types"
Hello and thank you for your work. The issue I would like to report is related to `react-unused-props-and-state` rule. #311 allowed us to specify a regular expression used to recognize interfaces used to describe React `Props` and `State`.

The rule works perfectly when `Props` or `State` are defined within one interface. However, when using React together with Redux, it's a common practice to sta

[2018-02-13 20:09] HamletDRC commented on #410
@karfau - Rules are deprecated when something is added to TypeScript or TSLint that makes the rule obsolete. Typically, we turn the rules off in recommended_ruleset.js for a release or two. Eventually we remove the rule from the code base.
As we add new rules, if they are good rules, then we recommend that people turn that rule on in recommended_ruleset.js.
Any change to recommended_ruleset.js wil

[2018-02-19 18:38] estaub commented on #415
A linter for the OPPOSITE of this rule would be useful for globals!

This is a common test in code that may run in a browser or under node.js, like server-side-rendered code.

[2018-03-09 08:42] johnemau commented on #85
What is the guidance for writing [dynamically generated tests](https://mochajs.org/#dynamically-generating-tests) and enabling this rule?

[2018-03-16 00:45] weeco opened #419 "No implicit dependencies warning for devDependencies"
I am wondering why you disallow developers to import libraries which are listed as devDependency. Is there a specific reason for this strict rule?

For instance: Why do I need to add mocha as regular dependency instead of a devDependency in my package.json?

**Note:** I am aware I can adapt this rule with `"no-implicit-dependencies": [true, "dev"]`, but I am curious if there is a good reason to fo

[2018-03-21 14:15] OliverJAsh commented on #416
Minor correction: this is an intersection type, not a union type.

[2018-03-21 14:37] karol-majewski commented on #416
@OliverJAsh Correct!

[2018-04-04 10:48] 5angel commented on #387
@iamjoshhansen your example is actually ok, it's expected to name your files as your classes.

What I forgot to mention is that this rule also applies to packages as well.

Say, you're importing a lib named `foo-bar`, but it is actually a FooBar class.
So you'll want something like `import FooBar from 'foo-bar'`.
That will trigger an error in tslint.

[2018-04-12 23:37] astorije commented on #115
👋 It would be nice indeed if that rule was not flagging JSX comments `{/* ... */}`.

[2018-04-13 00:00] astorije commented on #409
I'm having a similar issue right now, with `option` and `aria-selected`:

[code]

[code]

[2018-04-13 00:04] astorije commented on #409
And I can confirm that it also happens with `checkbox`es:

[code]

I'm wondering if I'm missing something obvious. Any thoughts? :)

[2018-04-16 07:11] #381 closed

[2018-04-16 07:36] HamletDRC commented on #419
@weeco  My build pipeline only deploys the .js libraries that are in dependencies, and not the devDependencies section. So, if someone imports a devDependency from a production file then we get a runtime error after the deployment, which is bad.

What we do is turn this rule on when linting production files, and turn this rule off when linting test files.

[2018-04-16 07:36] #419 closed

[2018-04-16 07:36] HamletDRC commented on #413
closed with #412

[2018-04-16 07:36] #413 closed

[2018-04-16 07:39] HamletDRC commented on #415
Does any object other than 'window' display this error?

[2018-04-16 07:40] HamletDRC commented on #415
i.e.  why should we change this rule for *all globals* instead of just window?

[2018-04-16 17:36] estaub commented on #415
@HamletDRC I'm misunderstanding, I suspect.  AFAICT, this has nothing to do specifically with `window`, and happens when testing for the presence of any global.  `window` is just the most common case, because it's frequently tested for to determine whether we're running in a browser.

It's very easy to imagine analogous cases, though I confess I have no recent real-world one at hand.  I think test

[2018-04-16 22:14] ian-craig commented on #415
Testing `window` in code which also runs in server side rendering is a common case I've hit. I can imagine the same would apply when conditionally adding a polyfill only when the browser does not already have support.

[code]

[2018-04-17 06:07] HamletDRC commented on #415
OK, I did not know that server side JavaScript would throw an exception if you referenced an undefined global variable.

[2018-04-17 14:37] estaub commented on #415
@HamletDRC,  In your browser dev tools, open a console and type
[code]
and press enter - you'll see that it's the same there.   Be sure to spell it right ;-)

[2018-04-17 16:00] HamletDRC commented on #415
OK, I had no idea.

I wonder if there is an easy way to determine if something is global or not.

[2018-04-17 16:33] estaub commented on #415
@HamletDRC That's easy!  If you don't know where it came from, it's global.
In other words, if there's no defining import, const, var, function, etc. in the module, then it's global by process of elimination.

[2018-04-17 16:39] estaub commented on #415
Sorry, my last comment was thinking from a Javascript perspective, which may not be relevant, since the dev provided a declaration somewhere, e.g.  `declare var window: any;`.

In the case of a global, there's no javascript backing the declaration, but I expect that you have no way of detecting that.

[2018-04-17 17:07] karfau commented on #389
:tada: thx for fixing this

[2018-04-17 18:42] estaub commented on #415
I'm not sure, but I think something is global iff it is declared (using `declare`) outside of a namespace, and is not exported.  Don't trust this, though; it needs verification from someone with more Typescript savvy.

If any Typescript mavens see this, please confirm or deny.

[2018-04-18 03:23] JoshuaKGoldberg opened #422 "Rule request: preferred-package-imports"
Name proposal could probably be improved for such an unusual rule...

When there are two modules that declare variables with the same name, it's easy to mistakenly import from the wrong package:

[code]

A rule that lets projects map imports to their preferred package imports would help:

[code]

Bonus points if this rule comes with an auto-fixer!

[2018-04-18 06:05] HamletDRC commented on #422
@JoshuaKGoldberg Your IDE is picking the wrong import, right?
It sounds like maybe we should try to extend this existing rule: https://palantir.github.io/tslint/rules/import-blacklist/

[2018-04-18 06:06] HamletDRC commented on #389
@karfau thanks for taking the time to report it and then being patient for the last few months! It has been a crazy winter and we're un-burying ourselves now.

[2018-04-18 11:37] chrismbarr commented on #395
Ok, what you've said makes sense.  However, if the goal is not to use a reserved JS keyword in TS code I'd say that only flagging violations in typedefs is somewhat useless since that's not real "code" - meaning it never makes it to the transpiled output.

To me, it makes sense to flag the reserved keyword in both instances so that it's not used in real code, and also in the typedefs since that mi

[2018-04-18 12:29] owlcode commented on #368
Why is that we want to have no-unused-imports and no-unused-variables together?

[2018-04-18 16:00] JoshuaKGoldberg commented on #395
How about an opt-in config option to add the extra checks? Agreed both that you should be allowed to use these _if_ you need, but that it's better to avoid them.

[2018-04-18 16:00] JoshuaKGoldberg commented on #422
I can try posting there!

[2018-04-19 08:03] HamletDRC commented on #368
The no-unused-variables used to not find unused imports. So we wrote our own no-unused-imports a long time ago. But now tslint fixed their rule to find unused imports (as well as the tsc compiler). So this rule can be removed.

[2018-04-19 11:33] chrismbarr commented on #395
I think that way makes the most sense.  The default doesn't work for everyone, so let it be configured!

[2018-04-21 09:52] estaub commented on #415
@bradleyayers
See issue https://github.com/Microsoft/tslint-microsoft-contrib/issues/139: it's "simpler".
I wonder if it was driven by some external authority.

Related: https://stackoverflow.com/questions/3390396/how-to-check-for-undefined-in-javascript

Could be wrong, but I believe the cases where, _in Typescript_, `x === undefined` can throw a ReferenceError (without a compiler error) are pret

[2018-04-21 10:25] bradleyayers commented on #415
@estaub thanks for the link! I've written up a quick proposal for a new TypeScript feature related to this https://github.com/Microsoft/TypeScript/issues/23602.

[2018-04-24 02:35] dosentmatter opened #424 "[Feature Request] `import-name` support snake_case file names"
https://github.com/Microsoft/tslint-microsoft-contrib/blob/master/src/importNameRule.ts#L101

The current code allows periods, `.`, and hyphens, `-`, in file name imports and converts them to camelCase. Is it possible to allow underscores, `_`, as well?

I know underscores for file names isn't as common in javascript/typescript but I see it used sometimes. Currently, tslint would suggest `import s

[2018-04-26 00:45] astorije commented on #121
Hey @HamletDRC, I'm wondering if I'm hitting this, and I can't explain what's going on.

In `test/helpers/enzyme-intl.tsx`, I have:

[code]

This triggers:

[code]

However, I tried to build a dummy test case to identify the violation and potentially post a question somewhere, but couldn't reproduce it on a different example:

- `test/helpers/foobar-helpers.ts`:
[code]
- `test/helpers/foobar-helpe

[2018-04-30 20:00] amacleay opened #425 "no-inner-html rule: false positive for non-jQuery scenario"
I have a project using:
* enzyme
* chai
* chai-enzyme
* mocha-webpack

I have something similar to the following in a test:
[code]

I get the following error:
[code]

This is incorrect behavior. I am not using the [.html](https://api.jquery.com/html/) function, I am using a [chai-enzyme assertion](https://github.com/producthunt/chai-enzyme#htmlstr)

I believe this could be fixed by adding an `isJq

[2018-05-01 05:14] schubar-tibco opened #426 "Why no-inner-html rule (noInnerHtmlRule) is marked as typescriptOnly?"
Hi, I'm wondering why most of the rules and noInnerHtmlRule specifically are not available for JavaScript. Is this because of some technical issue (e.g. incompatible AST, API or missing utils) or is that the policy of the company?

[2018-05-11 06:34] webberwang commented on #110
I prefer the first method because it reads more fluently. Array of Objects as opposed to Object Array

[2018-05-29 15:02] jburtondev commented on #110
Try this: `(Type1 | Type2)[]`

[2018-05-30 09:57] massimonewsuk opened #429 "import-name rule documentation is not intuitive"
[code]

with override
[code]

doesn't work

However it works when you do this:
[code]

That took me a long time to work out, I think it should be documented or both forms allowed?

[2018-06-01 08:28] erictuvesson opened #430 "Add case insensitive option to export name rule"
I would like to still have this rule enabled, but I want the code style to be the same across our project.

It would be nice if there was an option to support [tableize](https://apidock.com/rails/String/tableize) too. So the filename can be my_class.ts and the class name MyClass.

[2018-06-05 15:33] astorije opened #432 "New rule: Accessibility rule around emoji"
It's very easy to make emoji inaccessible and @LJWatson wrote a very nice and short article about it: https://tink.uk/accessible-emoji/

`eslint-plugin-jsx-a11y` has a rule for this that we could emulate: https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/accessible-emoji.md

[2018-06-05 16:47] astorije opened #433 "react-a11y-anchors should accept content when given a child component"
`react-a11y-anchors` passes on the following snippets (assuming each line is a different file as I am focusing this issue on text and not `href`):

[code]

However, it fails on the following ones:

[code]

It's not an uncommon situation, for example when rendering translated strings.

I think it would be reasonable to take [`eslint-plugin-jsx-a11y`'s approach](https://github.com/evcohen/eslint-plu

[2018-06-05 22:42] astorije opened #434 "react-a11y-anchors should warn when there is no `href` attribute"
At the moment, this plugin warns on `<a href="#">Foobar</a>` but it doesn't warn on `<a>Foobar</a>`. Thoughts on making it warn for this case as well?

For comparison, [`eslint-plugin-jsx-a11y`'s `anchor-is-valid` warns on those](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/anchor-is-valid.md):

[code]

[2018-06-09 08:22] AndreasCag opened #435 "How should I use no-relative-imports"
Hello!
I am amazed how productive became my work with vscode, typescript and this config.
Thank you for your great work with it.

I'm new with typescript and tslint, so I'm a bit confused how to use rule 'no-relative-imports'.

Suppose I have small frontend project with Webpack + Vue + ts-loader.
Main core written with typescript, other files with javascript.

In folder 'core' I have two files:

[

[2018-06-14 20:01] mmilleruva opened #436 "mocha-avoid-only only checking for string literals"
I noticed `mochaAvoidOnlyRule.ts` was missing cases where the first argument was not a string literal.  So the following case would be missed:

[code]
I saw that there were test cases specifically written not to catch this case. I believe it is to avoid false positives where `.only` is not from mocha. It might be better to be more aggressive with reporting the issue and people can use https://pala

[2018-06-15 06:59] codepunkt opened #437 "react-a11y-image-button-has-alt throws on HTMLInputElement"
This is a simple react component that consists of an `input` element only.

[code]

`react-a11y-image-button-has-alt throws` throws this error:

[code]

`tslint-microsoft-contrib` version is `5.0.3`

[2018-06-15 21:31] dgoldstein0 opened #438 "react-this-binding-issue should ignore ref callbacks"
In a react render function, react-this-binding-issue fires on `ref` when it should not.  E.g.:

[code]

[2018-06-16 22:10] JoshuaKGoldberg opened #439 "no-string-based-set-timeout incorrectly flags member methods named setTimeout"
[code]

[2018-06-17 00:12] JoshuaKGoldberg opened #440 "Allow links to pending issues for no-suspicious-comment"
Request: add an option to `no-suspicious-comment` to allow comments linking to an issue tracker.

This is bad:

[code]

However, if we have a tracking item to resolve the TODO, it's useful to keep a link to that item in code:

[code]

It could be configured like so:

[code]

...and if there are regexps allowed, change the rule warning string to mention the allowed formats?

[2018-06-19 08:47] ethanresnick opened #441 "mocha-no-side-effect-code: bug with it.skip triggering false positive"
Test case:

[code]

*Expected behavior*: no error; the `it.skip` call is safe.

*Actual behavior*: mocha-no-side-effect-code reports an error on the `it.skip` line.

[2018-06-19 08:49] ethanresnick commented on #441
Sorry, it looks like this is a duplicate of #389, which has been fixed. Closing.

[2018-06-19 08:49] #441 closed

[2018-06-19 12:18] SanderDeWaal1992 opened #442 "no-string-based-set-timeout on use Socket.setTimeout"
This piece of code does result in a `no-string-based-set-timeout` lint error:
[code]
The lint error I get:
`ERROR: (no-string-based-set-timeout) C:/...: Forbidden setTimeout string parameter: 2000`

Using typescript 9.4.

Am I correct that this is a false positive?

[2018-06-20 19:29] amacleay opened #444 "export-name: export declarations are not flagged"
Suppose I have a file named `passLint.ts`:
[code]

The `export-name` rule will rightly complain that the export name does not match.

Suppose that, instead, I write the export on a different line from the function declaration:
[code]

`export-name` fails to fire on this, even though it results in identical javascript output:
[code]

---
All source code for a minimal example:
[code]

[2018-06-20 23:08] levithomason commented on #429
Yep, this should probably just be a map of import string to identifier names.  Example:

[code]

[code]

This is currently required 😕
[code]

This is also going to conflict if some other import ends in `/server`, since the entire path is not considered.  There is no way to allow this, for instance:

[code]

This would require two `server` keys in the config given the current implementation.

[2018-06-21 11:45] Sayan751 commented on #95
Is there a way to ignore the lint error for `new Error("My non-localzied error")`, without using single-quotes or template string?

[2018-06-22 17:57] MattSFT commented on #435
I have the same question. I cannot figure out how to get no-relative-imports to work with the no-submodule-includes and the no-implicit-dependencies issues.

Just seems like too much hassle so I disabled the no-relative-imports rule.

[2018-06-27 16:59] astorije opened #445 "Ignore constant assignments from mocha-no-side-effect-code"
Given the following file:

[code]

`mocha-no-side-effect-code` will complain:

[code]

As this is a constant that gets set for the entire file, I was trying to ignore all constants, with something naive like this:

[code]

But couldn't make it work.
By `console.log`ging `initializer.getText()` [here](https://github.com/Microsoft/tslint-microsoft-contrib/blob/master/src/mochaNoSideEffectCodeRule.ts

[2018-06-27 19:23] astorije opened #446 "Allow this.timeout in mocha-no-side-effect-code"
`this.timeout()` is [valid at suite-level](https://mochajs.org/#suite-level) but by default, `mocha-no-side-effect-code` says:

[code]

At the moment, we have to ignore it using the following, but it would be nice if the rule was whitelisting it itself:

[code]

According to the docs, it seems [`this.retries()`](https://mochajs.org/#retry-tests) and [`this.slow()`](https://mochajs.org/#test-durati

[2018-06-29 01:32] cpsubrian commented on #438
Probably also common "render props" like `render={() => <MyComponent />}` (or at least a way to white-list)

[2018-07-03 17:21] astorije opened #448 "export-name flags on files with a single export"
*Making a real issue out of https://github.com/Microsoft/tslint-microsoft-contrib/issues/121#issuecomment-384477314*

In `test/helpers/enzyme-intl.tsx`, I have:

[code]

This triggers:

[code]

However, I tried to build a dummy test case to identify the violation and potentially post a question somewhere, but couldn't reproduce it on a different example:

- `test/helpers/foobar-helpers.ts`:
[code]

[2018-07-04 04:12] JoshuaKGoldberg commented on #425
Hey, thanks for filing this - agreed that we need a way to exclude test files. However, hardcoding it to `jquery|$` isn't the right way to go for all projects. What about projects that use other DOM libraries, or have jQuery aliased under different names?

Instead of hardcoding it to `jquery|$`, I think we should allow the user to provide a matcher (stringified RegExp, presumably) that filters wha

[2018-07-04 04:21] JoshuaKGoldberg commented on #339
Ok, I just had to look this up: SFC === Stateless Functional Component. Been using them for years and didn't think of that as the abbreviation...

[2018-07-04 04:41] astorije commented on #409
@JoshuaKGoldberg, do you have any insight on this?

[2018-07-04 04:43] astorije commented on #115
Is this issue resolved with https://github.com/Microsoft/tslint-microsoft-contrib/commit/766aaa6465e69fdb909bf04c2a5db6d476d67bd0 ?

[2018-07-04 04:47] JoshuaKGoldberg commented on #409
Oh I'm no aria expert... but I'm sure @Harley-Adams would know what to do here! 😅

[2018-07-04 06:18] JoshuaKGoldberg commented on #426
Hi @schubar-tibco! In short, we can't get full type intelligence without a `tsconfig.json`.

Rules that are marked as typescriptOnly are ones that require use of TypeScript's compiler program APIs to inspect static types, which requires the existence of a TypeScript project. See https://palantir.github.io/tslint/usage/type-checking/ for a bit more info.

It's certainly not a policy of the company,

[2018-07-04 06:18] #426 closed

[2018-07-04 06:20] JoshuaKGoldberg commented on #388
Hey @mblandfo, sorry for the delay! You're looking for is TSLint's [`strict-boolean-expressions`](https://palantir.github.io/tslint/rules/strict-boolean-expressions/) rule, which does exactly what it sounds like this issue describes.

Closing this particular issue as non-actionable; if that rule doesn't do it for you, your best bet is likely to file an issue on it in the [TSLint repo](https://gith

[2018-07-04 06:20] #388 closed

[2018-07-04 06:45] JoshuaKGoldberg commented on #442
Indeed, looks like a false positive. A few ways to make this better...
* The rule probably shouldn't complain for non-strings, such as numbers.
* The rule could become an optionally [typed rule](https://palantir.github.io/tslint/usage/type-checking/) and, when given a TS program, could use that to verify whether the method actually has a method signature similar to `setTimeout`

[2018-07-04 15:21] JoshuaKGoldberg commented on #394
SGTM. Ideally those could be separate options, individually trigger-able.

[2018-07-04 15:39] JoshuaKGoldberg commented on #448
@astorije `export-name` looks like it's intended to allow exports whose names are the file name plus any extension, but this behavior implies it's allowing any general subset of the file name.

In your error case:
* `mountWithIntl` is _not_ a subset of `enzym-intl.tsx` ❌

In both your test cases:
* `foo` is a subset of `foobar-helpers.ts` ✔
* `foo` is a subset of `foobar-helpers.tsx`✔

Would you p

[2018-07-04 15:40] JoshuaKGoldberg commented on #446
Sounds like there should be a whitelist as a config setting!

[2018-07-04 15:45] JoshuaKGoldberg commented on #445
If I understand correctly, the rule is validating at the expression level (`3 + 4`) instead of at the variable level (`const foo = 3 + 4;`). If a config setting were added to stop walking when it reaches a `const` variable, would that solve your use case @astorije?

[2018-07-04 15:47] JoshuaKGoldberg commented on #444
Unrelated: `for x in $( git ls-files | grep -v yarn ); do echo;echo "# $x"; cat $x; done` is nifty. Thanks for that! ✨

[2018-07-04 15:50] JoshuaKGoldberg commented on #439
Duplicate of #442.

[2018-07-04 15:50] #439 closed

[2018-07-04 15:52] JoshuaKGoldberg commented on #355
Adding to Junkern's comment, this is the error I get for the `private wait`:

[code]

[2018-07-04 15:53] JoshuaKGoldberg commented on #355
Looks related to #442. Not sure if the same issue; needs a deeper investigation.

[2018-07-04 15:56] JoshuaKGoldberg commented on #436
+1 to using type information to fix this false negative! Having it as an optionally typed rule would be best so we still get the existing behavior if no project is provided.

[2018-07-04 15:57] astorije commented on #446
That's what `ignore` is for, no?
My suggestion here was to ignore `this.timeout`, `this.retries`, and `this.slow` as these are allowed by Mocha itself. What do you think about this?

[2018-07-04 16:00] astorije commented on #445
@JoshuaKGoldberg, I believe so, yeah.

[2018-07-04 16:01] JoshuaKGoldberg commented on #435
Hi there - welcome to TS/TSLint/VSCode/etc.! Glad you're enjoying the new area 😊 it's great to have you!

I personally don't use this rule in my projects. The idea as I understand it is to encourage setting a `baseUrl` in your `tsconfig.json`, but that seems uncomfortable to me. Should we deprecate this rule @HamletDRC ? Do you have more context around it?

[2018-07-04 16:06] JoshuaKGoldberg commented on #446
Ah, you're right! I missed that the rule has that as a config setting. Thanks 😁

It should be easy to add a default `ignore` value to the rule that's a regex containing those values.

[2018-07-04 16:23] astorije commented on #446
Where would you add this? In the recommended preset, or in the code?

[2018-07-05 14:21] amacleay commented on #425
Seems probable, but not totally certain.

This part of the rule is trying to enforce that no method gets called which can directly replace the HTML of an element. It so happens that jQuery instances have a method named `html` that does that, but another DOM processing library might have different methods that do the same thing. Worse, another DOM processing library might expose that facility throu

[2018-07-05 15:24] #444 closed

[2018-07-05 15:36] JoshuaKGoldberg commented on #430
Huh, I would think the rule should _only_ be case insensitive 😕. +1. Otherwise how would it work when a repo initialized on a case sensitive file system, then ported to a file system that is case insensitive? We probably should not get in the game of encouraging OS-specific patterns.

+1 to an option added to give it a whitelist of characters it can safely ignore. In your case, that looks like `_`

[2018-07-05 15:39] JoshuaKGoldberg opened #450 "Allow configuring which characters are ignored in export-name"
Splitting off from #430:

/cc @erictuvesson

[2018-07-05 17:49] JoshuaKGoldberg commented on #429
Yeah this is confusing 😂 +1 to clarifying in documentation what is or isn't allowed as a first step. Later on, allowing both might be a good change as well. I'll file a separate issue for that.

@levithomason you raise a couple interesting points on the rule's configuration. I'll file a separate issue as changing that would be a breaking change.

[2018-07-05 17:50] JoshuaKGoldberg opened #451 "Allow more forms of specifiers in the config for import-name"
Continuing discussion from #387 and #429: we should allow both `"graphql-tag"` and `"graphqlTag"` in the config for `import-name`.

At the very least, adding `_` should be done here.

/cc @massimonewsuk @levithomason

[2018-07-05 17:53] JoshuaKGoldberg opened #452 "Consider improving config options for import-name"
Continuing discussion from #429: how do we allow full import names, such as `"react-dom/server"`?

/cc @massimonewsuk @levithomason

[2018-07-05 17:54] JoshuaKGoldberg commented on #424
+1, this should be done. Seems like a nice and straightforward fix.

[2018-07-05 17:56] JoshuaKGoldberg commented on #422
https://github.com/Microsoft/tslint-microsoft-contrib/issues/415

[2018-07-05 17:56] #422 closed

[2018-07-05 20:01] astorije commented on #446
@JoshuaKGoldberg, I gave it a shot in #453!

[2018-07-05 20:47] astorije commented on #409
(@JoshuaKGoldberg, I don't think mentions send notifications on edits, could be wrong, but I believe @tommywilkinson was not notified... until now :D)

[2018-07-05 20:56] astorije opened #454 "Consider taking no-multiline-string out of the recommended preset"
We use and love the recommended preset at @CloudHealth, but we find `no-multiline-string` to be an unnecessarily restrictive rule to recommend by default.

As far as I can tell, there is nothing inherently bad about multiline template strings, and they're not one of those things accepted to be dangerous or recommended not to use by the community such as `eval` or `==`.

In our case, and this is pr

[2018-07-05 21:53] JoshuaKGoldberg commented on #415
Adding a `missing` or so as per the TS feature proposal would be great and absolutely solve the problem discussed here.

That will almost certainly take a very long time. Until then, accepting PRs to add here.

[2018-07-05 21:54] JoshuaKGoldberg commented on #415
Adding a `missing` or so as per the TS feature proposal would be great and absolutely solve the problem discussed here.

That will almost certainly take a very long time. Until then, accepting PRs to add here.

[2018-07-05 21:56] JoshuaKGoldberg commented on #415
Adding a `missing` or so as per the TS feature proposal would be great and absolutely solve the problem discussed here.

That will almost certainly take a very long time. Until then, accepting PRs to add here.

[2018-07-05 22:02] astorije commented on #271
For the record, the ESLint equivalent of this is [`label-has-associated-control`](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/label-has-associated-control.md), formerly known as [`label-has-for`](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/label-has-for.md).

[2018-07-05 22:04] JoshuaKGoldberg commented on #393
This looks like it should be as simple as if the `.name` property exists and bailing out if so.

[2018-07-06 05:39] levithomason commented on #452
Since dependency names are unique, I would use those as keys in the config object.  The values in the config object would be the allowed name it can be imported as.

[2018-07-06 05:46] JoshuaKGoldberg commented on #387
Yes, this is a problem. Rules shouldn't work differently depending on whether the OS is case sensitive or case insensitive for file names. We should ignore name casing.

Duplicate of #430.

[2018-07-06 05:46] #387 closed

[2018-07-06 05:54] JoshuaKGoldberg commented on #385
@mohsen1 I actually like that feature of the rule. I assume the goal of the rule was to keep consistency with other block comments in where the comments start vertically:

[code]

OTHO, the preference to save a couple of lines is valid as well. I think we should add a configuration to the rule for whether it should allow these single-line JSDoc comments. If it doesn't allow them, the error text sh

[2018-07-06 05:58] JoshuaKGoldberg commented on #380
Indeed, very similar to the existing `mocha-avoid-only` rule and a great idea for the same reasons. It would be easiest IMO to add to that rule and rename it to something more generic (it's also valid for other test runners with the same variable names).

Perhaps `test-restriction-methods`? `test-restrictors`? 😕

[2018-07-06 09:34] massimonewsuk commented on #452
I agree with levithomason

Other things to consider (and possibly get feedback on) would be:
- Should we allow multiple names for an import? i.e. `"lodash": ["_", "lodash", "foo"]`
I don't think this is a great idea considering the whole purpose of this rule is to normalise the way people import things
- Should we allow the user to still use the original name? i.e. `"lodash: ["_"]"`, should the us

[2018-07-06 09:47] massimonewsuk commented on #387
I like what @5angel suggested about allowing you to start imports with a capital letter (`import FooBar` as opposed to `import fooBar`), however I can also see a small downside around developer experience. For example typescript auto-suggests imports based on file names. So if you type `let x = new fooBar` then typescript will suggest importing `fooBar` from `./foo-bar`, but it won't suggest it if

[2018-07-06 15:07] JoshuaKGoldberg commented on #374
The rule doesn't _require_ type checking, but it will take advantage of a TypeScript program if provided one. This must be a bug specifically in that optional logic.

Scanning through the code, `noStringBasedSetIntervalRule.ts` uses a `NoStringParameterToFunctionCallWalker`, which uses its `isExpressionEvaluatingToFunction`. I'd check there for logic that requires `this.typeChecker`.

[2018-07-06 15:16] JoshuaKGoldberg commented on #335
I can't think of a better way. Perhaps allowing a ratio and/or minimum statement count as a rule config?

[2018-07-06 15:48] astorije commented on #448
I'm not sure, because at the moment I'm failing to see the value of this rule altogether. We are considering to disable it, but before doing so, would you mind clarifying its intent overall?

[2018-07-06 18:23] JoshuaKGoldberg commented on #10
TSLint does this for us now, hooray!

[2018-07-06 18:23] #10 closed

[2018-07-06 18:24] JoshuaKGoldberg commented on #138
@HamletDRC could you elaborate on this?

[2018-07-06 18:30] JoshuaKGoldberg commented on #146
TSLint now has `no-magic-numbers` and discussion on `no-magic-strings`: https://github.com/palantir/tslint/issues/2928

🙌

[2018-07-06 18:30] #146 closed

[2018-07-07 05:49] JoshuaKGoldberg commented on #151
@HamletDRC is this still applicable? I don't remember having this error writing tests with Mocha+PhantomJS in late 2017.

[2018-07-07 05:52] JoshuaKGoldberg commented on #193
@HamletDRC I believe `--noImplicitAny` should catch this. If it doesn't, I think this should be filed in TSLint core.

[2018-07-07 05:52] #193 closed

[2018-07-07 05:56] JoshuaKGoldberg commented on #167
@shyr1punk since this was posted, Prettier has become very popular and the core TSLint project has started to advise usage of it. I can vouch that it's a _very_ nice experience if you haven't tried it out yet.

Closing this issue as external, as Prettier can format with more power & speed than TSLint. Thanks for posting!

[2018-07-07 05:56] #167 closed

[2018-07-07 05:58] JoshuaKGoldberg commented on #161
I think this makes the most sense as a starting point for the rule. Generally, if we can have a rule that requires the return values of some configurable whitelist of things be used, that can help greatly with this problem.

[2018-07-07 05:58] JoshuaKGoldberg commented on #202
https://palantir.github.io/tslint/rules/no-string-throw/ ✨ 👍

[2018-07-07 05:58] #202 closed

[2018-07-07 06:00] JoshuaKGoldberg commented on #66
Hey @slawomir, are you still interested in taking this one? It seems like enforcing at least one of a file's React components, if there are any, have the file's name would be useful.

[2018-07-07 21:54] JoshuaKGoldberg commented on #454
This sounds reasonable (I too always disable it 😃). Let's wait a bit and see if there are any voices against it, and if in a few weeks time nobody has piped up, it sounds like a good `Good First Issue 🙌`.

[2018-07-07 22:36] JoshuaKGoldberg commented on #448
I believe the idea was to enforce consistent naming of exports and their files. Generally, most or all files should have a single purpose and therefore a single "thing" exported. If you adhere to this and have accurate & descriptive names for both your files and your objects/classes, then it follows that they should have similar names.

For example, if you have a file `Multiplier.ts`, it's natural

[2018-07-07 22:43] #446 closed

[2018-07-07 22:46] JoshuaKGoldberg opened #455 "Generalize Mocha rules to all testing frameworks"
These rules should be renamed _(maybe replace "mocha" with "test"?)_ and changed so that any Mocha-specific API names are configurable to allow any test framework. For example, Jest allows `xdescribe` in addition to `describe`.

* `mocha-avoid-only`
* `mocha-no-side-effect-code`
* `mocha-unneeded-done`

Following up on #453.

[2018-07-07 22:51] JoshuaKGoldberg commented on #432
_(changing difficulty from Medium to Easy because the source rule is relatively simple... and I love emojis)_

[2018-07-08 03:50] astorije commented on #454
That's totally reasonable. I opened #456 in preparation for it, so that when/if no one objects, it can be merged, or close if someone objects.
Thanks for the feedback @JoshuaKGoldberg!

[2018-07-08 03:56] astorije commented on #455
As we are transitioning from Mocha to Jest, and we weren't sure if you would integrate Jest-specific rules, I was considering creating a new package for those, but that would be great too!

However, I wonder how much this be made generic. For example, while #453 adds exceptions for Mocha, that would not apply to Jest. Similarly, Mocha recommends _against_ using arrow functions (which has led to a

[2018-07-08 05:38] JoshuaKGoldberg commented on #455
One concerning point about splitting into new packages is the added maintenance overhead. We could...

* ...switch to a monorepo, which is more work to maintain and an an additional barrier to entry for newcomers?
* ...create some unified configuration package all repos use, like create-react-app?
* ...put the cost of maintenance on each package?

Perhaps we should have recommended rulesets per te

[2018-07-08 18:54] levithomason commented on #452
I would also say no, as it goes against the heart of the rule which is to standardize import names.

Also no, for the same reason as above.

I would lean toward making it very explicit with no special casing.  In my experience, special cases tend to stack up and lead to complications whereas explicit and simple code is more maintainable.

One last idea I had while setting this up was about allowin

[2018-07-09 00:47] slimlime commented on #71
MSE?
Media Source Extensions?
Managed Stack Explorer?
Microsoft Social Engagement project?

[2018-07-09 16:16] MattSFT commented on #435
I've tried using the baseUrl method to get rid of the no relative paths issues, however when I do that I start violating two other rules: no-submodule-includes and no-implicit-dependencies.

no-submodule-includes is hit because I include components from subfolders in my solution.
no-implicit-dependencies is hit because the rule thinks that if I am not doing a relative include, then the code must b

[2018-07-09 16:29] JoshuaKGoldberg commented on #435
Amusing. Yes, I'm in support of this. Let's leave this issue open for a few weeks, we can mark it as deprecated, then remove in a future major version.

[2018-07-09 23:16] tommywilkinson commented on #409
Yeah, looking at the UIA tree for Edge confirms that the <input> tags naturally get the toggle patterns we would expect.

What would probably work best here is a mapping of tag type -> list of implicit properties. It looks like there's already one for tag -> implicit aria roles based off discussion above, so I would imagine adding ones for implicit properties should be pretty straightforward.

[2018-07-15 01:53] JoshuaKGoldberg opened #457 "Rule request: informative-docs"
#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Many teams require all things be documented, such as with TSLint core's [`completed-docs`](https://palantir.github.io/tslint/rules/completed-docs/). The idea of requiring code be well-documented is nice, but you end up with the above useless comments.

#### Expected behavior

It'd be nice to

[2018-07-17 21:04] #425 closed

[2018-07-18 15:22] JoshuaKGoldberg commented on #84
Hey @loicraux I'm going to go ahead and close this issue for housekeeping. Post here if you still want this!

[2018-07-18 15:22] #84 closed

[2018-07-18 21:03] JoshuaKGoldberg commented on #115
It should be 🙌

[2018-07-19 00:44] JoshuaKGoldberg opened #458 "Genericize error messages in noInnerHtmlRule.ts"
The `no-inner-html-rule` rule _used_ to be limited to jQuery, but was made more generic (#425) to work with projects not using jQuery. Without changing any more behavior, it'd be good to fix the rule's strings:

* Change `FAILURE_JQUERY`'s `html()` complaint text to specifically mention whichever invalid function is being flagged.
* Replace "`JQUERY`" in the source code with some more generic word

[2018-07-19 11:47] slikts opened #459 "Method names should support symbol properties"
The current function-name rule fails when implementing an iterable:
[code]
It should not fail; symbol properties and the iterable protocol are standard parts of JS since many years ago and should be supported.

[2018-07-19 15:52] JoshuaKGoldberg commented on #459
Hi sklits 👋 thanks for the issue! You're absolutely right, this is a bug and should be fixed.

[2018-07-20 16:54] JoshuaKGoldberg opened #461 "Use TypeScript's --strict mode in source code"
https://www.typescriptlang.org/docs/handbook/compiler-options.html

It'd be nice for our source code to use TypeScript >=2's `--strict` options, particularly `---strictNullChecks`.

[2018-07-20 16:57] JoshuaKGoldberg opened #462 "Check in package-lock.json"
https://docs.npmjs.com/files/package-locks

This made it into #460 and reminded me that we don't check this in yet. I think doing so would be good for security and speed.

On the security note, someone who works at Microsoft should do this - I'll do it soon.

FYI @HamletDRC

[2018-07-20 18:40] #207 closed

[2018-07-21 05:51] JoshuaKGoldberg commented on #462
Since I sent in the PR, I'll wait for more feedback before merging.

[2018-07-21 05:58] JoshuaKGoldberg opened #464 "Rule request: replacing unwanted comment substrings with valid ones"
Suppose your company _hates_ when people call it "XBox", and wants to replace that with "Xbox":

[code]

Perhaps it would be useful to have a TSLint rule to flag barred comment values, and suggest replacing them?

[code]

Some other useful things:
* Replacing " his " with " their " (for fixing common gender neutrality typos)
* Replacing words commonly flagged by tools such as [PoliCheck](http://ar

[2018-07-23 03:25] makotom opened #465 "Recommended max-func-body-length rule ignores functions named /.+describe.+/ as well"
# Repro
[I've prepared a easy-to-start test case](https://github.com/makotom/tslint-test-20180719). Clone the package, run `npm i`, and then `npm run lint`.

**OR**

1. Write a TypeScript code in which `xyzdescribexyz` is called with a 101-line arrow function as a parameter.
2. Run tslint with "tslint-microsoft-contrib" rules.

## Expected result
"Max arrow function body length exceeded" error sho

[2018-07-23 14:48] LukeSheard commented on #435
@JoshuaKGoldberg Please don't remove this, I really like this rule. We don't use the `no-submodule-includes` and just wrapped the `no-implicit-dependencies` rule to ignore the files in the `baseUrl` path and it works really well!

Maybe we can just publish this as a standalone rule?

[2018-07-23 17:17] elado commented on #459
here's my override:

[code]

[2018-07-23 19:45] schneems commented on #355
Is there a workaround for this? I'm super new to TS. I'm getting this failure `no-string-based-set-timeout  Forbidden setTimeout string parameter: resolve` with this code:

[code]

[2018-07-23 19:48] fpintos opened #466 "missing-optional-annotation requires ? in rest parameter (...foo), but rest parameters cannot be made optional"
I have a function that looks like this:
[code]

tslint complains with missing-optional-annotation on the "others" parameter:
Argument following optional argument missing optional annotation:  ...others: any[]

However, trying to add ? to it causes the compiler to complain with:
 TS1047: A rest parameter cannot be optional.

This is with 5.10.0.

[2018-07-23 19:58] fpintos commented on #466
Same error if I pass an initializer to p1.
My only solution right now is to write the rest parameter code itself inside the function.

[2018-07-23 21:04] JoshuaKGoldberg commented on #465
Hi @makotom - thanks for such a detailed issue! The problem and solution as you've stated them seem reasonable. I'd love to see a pull request adding them in!

[2018-07-23 21:09] JoshuaKGoldberg commented on #466
Hey @fpintos - thanks for filing this issue!

The `missing-optional-annotation` rule has been deprecated in this package. The TypeScript compiler will more intelligently keep track of rest parameters. You can disable the rule in your `tslint.json` by deleting this line:

[code]

If you haven't yet, I would recommend updating your `tslint-microsoft-contrib` package to at least 5.1.0 to make sure yo

[2018-07-23 21:09] #466 closed

[2018-07-23 21:16] JoshuaKGoldberg commented on #435
Interesting! @LukeSheard - could you please give a little more info on why you chose that way?

[2018-07-23 21:37] JoshuaKGoldberg commented on #355
Welcome to TS, @schneems! 😊

As a workaround in the meantime, you can disable this rule on that one line with:

[code]

I just updated the issues labels to more accurately indicate that this is a bug we'd like to see fixed.

[2018-07-24 01:30] JoshuaKGoldberg opened #467 "Rule request: required-chains (e.g. no it() without describe())"
As the inverse of #340, some teams prefer to always wrap `it`s with parent `describe`s. For example, when testing a class, it can be preferable to always wrap that class' `it`s with a `describe("ClassName", ...)`.

We could generalize this rule to be:

[code]

[2018-07-24 10:28] makotom opened #468 "max-func-body-length fails to count body length correctly"
# Prerequisite
I assume that the following is a 3-line function:

    (): void => {   // Line 1
                    // Line 2
    }               // Line 3

// I seriously think that it is an important definition. Without it, we (at least, I) can get confused. :P

# Repro
1. `git clone https://github.com/makotom/tslint-test-20180724.git`
2. `npm i`
3. `npm run lint`

**OR**

1. Write a TypeScript

[2018-07-24 10:40] makotom commented on #465
@JoshuaKGoldberg, thank you for your prompt response!

[I'm preparing a pull request](https://github.com/makotom/tslint-microsoft-contrib/commit/049b82b81c2a65e6073ab7f7b7376a8e4d50f292), but since I found another issue #468 and it needs [this insane hack](https://github.com/makotom/tslint-microsoft-contrib/blob/049b82b81c2a65e6073ab7f7b7376a8e4d50f292/src/tests/MaxFuncBodyLengthRuleTests.ts#L290)

[2018-07-24 15:49] fpintos commented on #466
Cool thanks.

[2018-07-24 15:51] JoshuaKGoldberg commented on #468
Ah, but now I'm confused! Why is that an important definition for you? What's your use case for that particular interpretation?

Agreed that this should be a one-line function:

[code]

What about this?

[code]

Perhaps the rule's `calcBodyLength` should consider the line difference between the start of the first statement to the end of the last statement?

[2018-07-24 16:51] makotom commented on #468
Hi @JoshuaKGoldberg, thanks for your reply!

Without this kind of definition, we cannot discuss which implementation is correct.

Fortunately, we have a good real example in https://github.com/Microsoft/tslint-microsoft-contrib/blob/master/src/tests/MaxFuncBodyLengthRuleTests.ts#L274:

    describe('something', (): void => {
        // line 2
        // line 3
        // line 4
        // line 5

[2018-07-24 17:55] JoshuaKGoldberg commented on #468
That makes sense, thanks!

Accepting PRs to have the rule consider both the `() => {` and `}` sections of the function as line counts.

To be clear, this should be considered to have 3 lines:

[code]

...and this should have 1 line:

[code]

[2018-07-24 19:21] LukeSheard commented on #435
@JoshuaKGoldberg While I probably can't give amazingly detailed specifics.. Essentially we run a very large monorepo + single package.json at the root and so we run with the idea that our "top level" is a set of packages itself, meaning that imports look like

[code]

Since we other languages side by side with TypeScript we find that it gives nice consistency and also means if you move a file you

[2018-07-24 19:23] JoshuaKGoldberg commented on #435
That's a really interesting approach, thanks for posting it! Have you tried [good-fences](https://github.com/smikula/good-fences)?

Also, would you mind also posting your `tslint.json` config here (or just the relevant rules around paths, importing, and/or modules)?

[2018-07-25 07:28] JoshuaKGoldberg opened #470 "tsutils@2.29.0 breaks the build on TS@<2.9"
https://github.com/ajafff/tsutils/issues/74

For now, we'll downpin our tsutils dependency.

[2018-07-25 07:33] #470 closed

[2018-07-25 10:01] karol-majewski commented on #452
Please consider an option to ignore file extensions.

In this example:

[code]

the suggested name is `exampleSvg`. A similar thing happens to JSON files — TypeScript 2.9 brought extended support for importing JSON files, but the requirement of having `example` called `exampleJson` when it's imported leaves an uneasy feeling.

[2018-07-26 06:42] #465 closed

[2018-07-26 10:07] LukeSheard commented on #435
@JoshuaKGoldberg I haven't come across `good-fences` before, but it looks very useful for our code base!

Our `tslint.json` is a little bit up in the air right now as we begin to let the dust settle, but I'll get follow up in a couple of days.

I think that removing it from the default recommended configuration is the best solution, leaving it for users to bring it if it works for their use case.

[2018-07-26 15:52] sbuzonas commented on #452
Not too much magic, it's a common use case IMO.

I don't think these are special cases; I agree it should be explicit, but there is much to consider IRT import names and it should have robust configuration.

The way I see it, there are a few separate concerns being discussed here:

**Renaming/Collisions**

[code]

I think it should accept the existing behavior and allow for longer path matches, ch

[2018-07-27 01:35] Nebulis opened #473 "New rule: chai-prefer-deep-equal"
Even though there are some use cases for `.eql`, `deep.equal` can be used in its place most of the time as well.

The main issue with `eql` is that it's not meaningful. Without reading the documentation it is not clear that it's doing a deep comparison.

Throw `eq`, `eqs` and `equal` into the mix, then you often get questions about the differences between all the assertions.

The idea of this rule

[2018-07-30 00:05] JoshuaKGoldberg commented on #473
I like this very much!

There are likely many instances where this would be the case: you've mentioned several already just for Chai. How about a more generic name, like `no-unclear-assertions` or `clear-test-assertions`?

[2018-07-30 01:01] JoshuaKGoldberg opened #474 "Rule request: prefer either forEach or forOf"
For most modern environments, it's likely slightly preferable to use `for-of` instead of `forEach` when the body of the loop is an arrow function or function expression:

[code]

[code]

On the other hand, IE 11 doesn't generally support `for-of` with some output types of TypeScript, so it might be necessary to only use `forEach`. Lovely.

It'd be useful to have a rule that takes in a preference (

[2018-07-30 21:35] zerkms opened #475 "Typescript v3 compatibility"
A new shiny typescript v3 was released today

This issue is here to track the `tslint-microsoft-contrib` compatibility with it

[2018-07-30 22:22] mfedderly opened #476 "react-a11y-image-button-has-alt fails if type is an expression"
react-a11y-image-button-has-alt rule fails on inputs like this:

[code]

Stack trace:
[code]

[2018-07-31 09:04] nicojs commented on #474
Why would `for-of` be slightly preferable? Is it because it defers executions when working with iterables? Or are there other benefits?

[2018-07-31 21:14] #476 closed

[2018-07-31 21:14] JoshuaKGoldberg commented on #476
Glad this is fixed, thanks!

We should note that #461 would have caught this.

[2018-08-01 03:04] JoshuaKGoldberg commented on #474
Indeed!

[code]

[2018-08-02 03:44] JoshuaKGoldberg commented on #468
Fixed by #469! 🎉✨

[2018-08-02 03:44] #468 closed

[2018-08-03 15:55] #462 closed

[2018-08-06 06:28] ben8p commented on #475
Looking forward for a release (at least a patch release).
Because that prevents us from upgrading to typescript 3 (or we loose many rules...)

[2018-08-06 06:45] JoshuaKGoldberg commented on #475
After testing a bit, it looks like #478 should have resolved any issues here. Will release a `5.1.1` patch version now!

[2018-08-06 06:45] #475 closed

[2018-08-06 07:09] JoshuaKGoldberg opened #479 "Force '\n' instead of '\r\n' in this repository via .gitattributes"
It's a bit annoying working on Windows and forgetting to set the global git config.

[2018-08-06 07:30] JoshuaKGoldberg opened #481 "Documentation for additional_rule_metadata.json / recommended_ruleset.js."
`recommended_ruleset.js` is actually auto-generated from `additional_rule_metadata.json` and checked at build-time by the `validate-config` task. This process should be documented: preferably also in the files it touches, so it's clear where the sources of truth for configs are.

[2018-08-06 15:15] JoshuaKGoldberg opened #484 "Replace Grunt dependency with npm scripts"
Grunt is a bit hefty as a dependency. It'd be nice to move away from it and have simpler `npm run *` scripts instead.

[2018-08-08 08:06] YouHusam opened #485 "no-unnecessary-local-variable throws an error after upgrade to TS3"
After upgrade to Typescript 3, I get the following warning in tslint for multiple files.

[code]

ref: https://github.com/Microsoft/TypeScript/wiki/API-Breaking-Changes#typescript-30

Node version: 10.4.0
NPM version: 6.1.0
OS: MacOS 10.13.6
Typescript: 3.0.1

[2018-08-08 16:49] JoshuaKGoldberg commented on #485
The top of the error stack is interesting:

[code]

@YouHusam what version of tsutils do you have? (as specified in `/Users/youho01/projects/v3/node_modules/tsutils/package.json`)

tsutils has since updated to no longer use `ts.unescapeIdentifier`. I wonder if we tslint-microsoft-contrib should have a new major version release to explicitly drop support for versions of tsutils that still use that?

[2018-08-09 08:25] YouHusam commented on #485
According to the package.json: `"version": "2.27.1"`

[2018-08-09 14:55] astorije opened #486 "newline-before-return in recommended preset"
Hi there!

Like I mentioned before, we use and love this package and recommended ruleset, and I know we'll contribute more to it in the coming months.

One rule we dislike is `newline-before-return`. We think it does not bring any value (as opposed to padding blocks overall, which ESLint allows but not TSLint), and it even ends up in silly situations when you try to leverage FP-style methods (`.ma

[2018-08-09 16:53] JoshuaKGoldberg commented on #486
Absolutely 🙂. Would you like to send that PR?

If you want to make some improvements on the TSLint side, it'd be great if you could file issues there & link them back here. Eventually it seems reasonable to re-enable the rule once the flaws you mentioned are fixed.

[2018-08-13 04:46] JoshuaKGoldberg commented on #485
Funny, looks like you're exactly one minor patch version behind `2.27.2`, which has a fix for that: https://github.com/ajafff/tsutils/issues/71.

I'll bump the tsutils minimum version in the tslint-microsoft-contrib package and release this as a bug fix next version. Thanks!

[2018-08-13 04:49] JoshuaKGoldberg opened #487 "Bump minimum TypeScript version to 3"
Issues such as #485 will magically go away once only TS@3 is supported!... but we don't want to drop support for the many projects that aren't yet able to to upgrade. ☹

Putting this issue up as a catch-all for anything around increasing the minimum TS version. We'll want to wait a few months, similar to DefinitelyTyped, before considering it.

[2018-08-13 04:52] #485 closed

[2018-08-13 05:04] JoshuaKGoldberg opened #489 "Switch from the custom unit test harness to TSLint's --test"
It'd be nice to not have to maintain the custom unit test framework, and instead use the same one as TSLint core's.

[2018-08-13 05:05] JoshuaKGoldberg opened #490 "Stop using null unnecessarily in source code"
There are many places in source code that use `null` and `undefined` interchangeably. As a code cleanup task, it'd be nice to consolidate on only using `undefined` whenever possible. This is what most libraries do, including TSLint and TypeScript.

[2018-08-13 05:09] JoshuaKGoldberg opened #491 "Enable more TSLint rules from core"
Keeping a pending list on this issue of rules that would be nice to enable internally for tslint-microsoft-contrib. For each rule, it'd be great to see a single PR that enables it in `tslint.json` and fixes any resultant failures in source code.

 - [x] ban-types
 - [ ] deprecation
 - [ ] jsdoc-format
 - [ ] member-access
 - [x] no-any
 - [ ] no-boolean-literal-compare
 - [ ] no-inferrable-types

[2018-08-13 08:43] #42 closed

[2018-08-16 18:47] skitterm commented on #339
Also seeing this. For some reason, this fails:

[code]

But changing `Props` to `SomeRandomProps` passes:

[code]

It's not ideal to have to call `Props` something else since it's less clear.

[2018-08-17 07:34] axelboc opened #493 "Option request: allow same folder imports (no-relative-import)"
Angular generates specs with same folder imports, like:

[code]

So it would be really convenient if rule `no-relative-import` had an option to ignore imports that point to the same folder as the current file, with `./`.

With this option enabled, the `no-relative-import` rule would still have to report unnecessarily complex same folder imports like `./../my/my.component`.

[2018-08-17 08:50] zephinzer commented on #473
this is needed!

[2018-08-24 21:59] unlight opened #494 "no-unnecessary-class: false positive with decorated classes"
Very common case in `nestjs` framework.

[code]

[2018-08-24 22:26] JoshuaKGoldberg commented on #494
Indeed! It'd be great to have a feature on the rule to allow decorated classes.

[2018-08-24 22:47] JoshuaKGoldberg opened #495 "README.md has some insecure content and odd formatting"
I'd like to go through and find `http` links that can be replaced with `https`

[2018-08-25 18:06] #495 closed

[2018-09-04 14:51] JoshuaKGoldberg commented on #486
Fixed by #497 🚀

[2018-09-04 14:51] #486 closed

[2018-09-06 17:40] ckhatri opened #498 "function-name: add private static method regex"
If you have a private static method, currently I believe the linter reads it as private first and then uses the private regex. But I believe it should still use the static regex, since its a static method and its a great way to show that it is.

so private static methods currently are linted to be: getPotatoes() instead of GET_POTATOES().

Was wondering if y'all agree.

[2018-09-06 17:49] JoshuaKGoldberg commented on #498
Great catch, thanks for posting this! This feels like something that should be configurable. Relevant options:
* Validate private statics as privates
* Validate private statics as statics
* Validate private statics as both both privates and statics

Thoughts?

[2018-09-28 02:33] JoshuaKGoldberg opened #502 "TypeScript 3.1 breaks the build: no "setImmediate" in typings"
Example build:
* https://travis-ci.org/Microsoft/tslint-microsoft-contrib/builds/434247126?utm_source=github_status&utm_medium=notification
* https://ci.appveyor.com/project/HamletDRC/tslint-microsoft-contrib/build/1.0.195

https://developer.mozilla.org/en-US/docs/Web/API/Window/setImmediate

We'll need to modify those tests to manually include typings for `setImmediate`.

[2018-09-28 03:46] #502 closed

[2018-09-28 03:53] #498 closed

[2018-10-01 01:38] cyberhck commented on #392
is this being considered?

[2018-10-01 04:57] JoshuaKGoldberg commented on #392
@cyberhck absolutely! Everything with the [`Status: Accepting PRs`](https://github.com/Microsoft/tslint-microsoft-contrib/labels/Status%3A%20Accepting%20PRs) label is open to being contributed. Feel free to tackle this if you have time! 😊

[2018-10-01 08:07] cyberhck commented on #392
I would, but I don't even know how to go about this :smile:

[2018-10-01 15:10] digilou commented on #432
Hi! I'd love to give this a shot for Hacktoberfest and improve accessibility on the web.

[2018-10-01 21:05] IllusionMH commented on #493
May I take on this?

If I understand correctly - new option should be created.
Is there any preference for option name?
Candidates:
- `allowSameFolder`
- `allowSameFolderImport`
- `allowSiblings`

[2018-10-01 21:16] JoshuaKGoldberg commented on #493
Absolutely @IllusionMH, thanks for taking this on!

I like `allowSiblings` the most personally.

[2018-10-01 21:17] karol-majewski commented on #493
`allow-siblings` or `allow-same-folder` perhaps? This would match the kebab-case convention used elsewheere.

[code]

[2018-10-02 00:17] IllusionMH commented on #493
Sorry for pinging all in this thread, but in the process of implementation I had another question:

Should rule allow
[code]
when `allow-siblings` is enabled?

Or it might be another option to the rule?

P.S. Its really late here, so I'll hope to submit first WIP PR tomorrow.

[2018-10-02 00:48] JoshuaKGoldberg commented on #493
That seems reasonable to allow by default, especially for projects that store assets inline with components:

[code]

[2018-10-02 03:45] mateoholman commented on #458
Hi, I'll tackle this issue for Hacktoberfest if no one is curently working on it?

[2018-10-02 14:36] IllusionMH commented on #494
As I can see - `no-unnecessary-class` is part of core rules. (`no-stateless-class` was deprecated in favor of core rule)

@JoshuaKGoldberg maybe it make sense to create feature request in [palantir/tslint](https://github.com/palantir/tslint) repo? I can do it if needed.

To avoid error in provided case - it is possible to use `"allow-empty-class"` option, to avoid error is this case (but no error

[2018-10-02 16:08] JoshuaKGoldberg commented on #458
Great!

[2018-10-02 16:14] JoshuaKGoldberg commented on #494
Also see https://github.com/palantir/tslint/issues/1142

[2018-10-02 16:16] JoshuaKGoldberg opened #504 "Mark no-unnecessary-class as deprecated"
TSLint core now has its own [`no-unnecessary-class`](https://palantir.github.io/tslint/rules/no-unnecessary-class/) with more features. Hooray!

See [`no-duplicate-case-rule`](https://github.com/Microsoft/tslint-microsoft-contrib/blob/564475936f90affcef585cb22b374ac33de18eb3/src/noDuplicateCaseRule.ts) for an example of a rule that's already deprecated.

[2018-10-02 20:06] #459 closed

[2018-10-02 20:38] fortrieb commented on #504
Hi, i will take this issue if no one is already working on it.

[2018-10-02 20:43] dsifford commented on #409
Hmm... I ran into this issue just now as well.

Seems easy enough given everybody's above suggestions... I suppose I could take a stab at this.

Is anybody here aware of a master list of implicit roles? Or am I just gonna have to eyeball it?

[2018-10-02 22:17] #437 closed

[2018-10-03 15:58] JoshuaKGoldberg opened #510 "October 2018: Update packages to latest and check for vulnerabilities"
See #508 and #509. At least TypeScript and `load-grunt-tasks` should be updated.

[2018-10-03 15:59] JoshuaKGoldberg opened #511 "Verify whether linting occurs on test files"
Should a build step be added to lint them?

See #508

[2018-10-03 17:21] JoshuaKGoldberg opened #514 "Verify at build that recommended_ruleset.js is up to date"
Nothing verifies this, so it's easy to slip in inconsistencies. For example, #506 had no indication it also needed to remove it from `recommended_ruleset.js`.

Related: #481

[2018-10-03 17:33] #511 closed

[2018-10-03 17:35] #393 closed

[2018-10-03 17:39] #510 closed

[2018-10-03 18:31] #424 closed

[2018-10-03 19:45] sjgllghr commented on #434
If no one else is working on it, I'd like to look into this.

Just to be sure, should this test fail now since we're requiring href, or should it depend on role?
https://github.com/Microsoft/tslint-microsoft-contrib/blob/eac676244291b5dbb8720395d38e2a7929f7e427/src/tests/ReactA11yAnchorsRuleTests.ts#L105-L115

[2018-10-03 21:19] astorije opened #518 "`no-function-expression` and generic functions in TSX"
While the following is supported by the language:

[code]

The following is not:

[code]

`no-function-expression` encourages to use arrow functions, which can lead to the following to make the linter pass (or disable the linter on a case-by-case basis):

[code]

Which isn't great. See https://stackoverflow.com/questions/32308370/what-is-the-syntax-for-typescript-arrow-functions-with-generics

Sim

[2018-10-03 21:41] JoshuaKGoldberg commented on #518
Are you on the latest TypeScript? That works fine for me on typescriptlang.org/play ([link](http://www.typescriptlang.org/play/#src=const%20foo%20%3D%20%3CT%3E(x%3A%20T)%20%3D%3E%20x%3B%20%2F%2F%20ERROR%20%3A%20unclosed%20%60T%60%20tag%0D%0A%0D%0Afoo%3Cnumber%3E(3)%3B%0D%0Afoo%3Cnumber%3E(%22three%22)%3B)). Seems like that SO answer is outdated now?

[2018-10-04 01:01] astorije commented on #518
Yes, latest TypeScript, but I believe this is a limitation of TSX. So the exclusion could be generic function in a TSX file.

[2018-10-04 05:58] MonicB14 commented on #451
Hi @JoshuaKGoldberg , I am a novice to `typescript` and would like to contribute to this issue for hacktoberfest

[2018-10-04 19:46] #434 closed

[2018-10-04 19:48] JoshuaKGoldberg commented on #451
Awesome, please do!

[2018-10-04 19:50] JoshuaKGoldberg commented on #518
Ah! I'd missed that. Yes, agreed, this is a bug. +1 to excluding these generic functions in TSX files.

[2018-10-04 21:04] #253 closed

[2018-10-05 00:18] #493 closed

[2018-10-05 14:44] IllusionMH commented on #392
@cyberhck if you are still interested in implementation I can provide you with tips about possible implementation.

Otherwise I can take on this issue if there are no more volunteers.

[2018-10-06 00:49] nadyafebi commented on #394
I'd like to take a shot on this issue if no one is working on it yet :smiley:

[2018-10-06 03:02] cyberhck commented on #392
Yes please, can you provide me some tips? Since this will be my first attempt, I don't know of helper methods, and I don't know how to detect if a function is bound or not.

[2018-10-06 06:12] cthulhu-uu commented on #223
This is my first time in this repo and I'd like to contribute for Hacktoberfest. Can you please clarify what change is being requested? Thanks!

[2018-10-06 08:01] MonicB14 commented on #451
As per discussion [#429](https://github.com/Microsoft/tslint-microsoft-contrib/issues/429), it should also provide ability to support entire path as `replacementKey`.

#### Proposed in [#429](https://github.com/Microsoft/tslint-microsoft-contrib/issues/429)
[code]
[code]
---
So as per my understanding, this change should allow replacement-key to be entered in three ways:
##### Example:
[code]

Pos

[2018-10-06 09:47] cTxplorer commented on #280
@JoshuaKGoldberg Is there a specific file to be updated? Or all of the files in the repo?

[2018-10-06 09:51] cTxplorer commented on #280
@JoshuaKGoldberg Can you help with the issue - how can I contribute here? Is there a specific file to be updated? Or all of the files in the repo?

[2018-10-06 13:33] IllusionMH commented on #392
@cyberhck ok.
First - understanding of AST for TypeScript code would help. You can use https://astexplorer.net/ (need to pick TypeScript as parser in the header) or https://ts-ast-viewer.com/ to see what are relations between nodes (`ClassDeclaration`, `MethodDeclaration`, `Decorator` etc.)

Next - files related to rule: [rule source](https://github.com/Microsoft/tslint-microsoft-contrib/blob/mast

[2018-10-06 13:41] IllusionMH commented on #484
I can take on this next week if you don't mind accept PR on this. I have understanding how to migrate common functionality, however I'll need some help to understand how better migrate all custom tasks.

[2018-10-06 13:41] IllusionMH commented on #489
I'd like to take on this.

[2018-10-07 04:39] JoshuaKGoldberg commented on #484
Sure, that'd be great! #489 might be a good first step to do as part of this one.

[2018-10-07 04:57] JoshuaKGoldberg commented on #451
Hi yes, awesome! LGTM!

[2018-10-07 05:08] #451 closed

[2018-10-07 05:37] JoshuaKGoldberg commented on #223
Awesome, welcome to the repo @cthulhu-uu! The more PRs the merrier.

I believe the issue is asking that the `<area>` element declared in [`<map>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/map) elements should be validated similar to regular `<img>` tags, in that they must have an `alt` attribute.

This should cause a `react-a11y-image-has-alt` complaint:

[code]

...but this shoul

[2018-10-07 18:40] karol-majewski commented on #334
I can take a stab at this one, but I have a few questions first.

1. I presume the desired identifier name should be configurable — some users will use `Dictionary`, some `IDictionary` while others may use `RecordOf`. Should there by only one name allowed, or should the rule accept an array of names?
1. The predicate is for the interface or type to have _just_ the index signature. Should all these

[2018-10-07 22:34] cthulhu-uu commented on #223
@Chovin something you want to look at? 👀

[2018-10-07 23:27] JoshuaKGoldberg commented on #334
Super, looking forward to your PR @karol-majewski!

1. Agreed, there should be a configurable list of names that may be taken in. IMO `Dictionary` and `IDictionary` are fine defaults.
2. Agreed, your `DictionaryInterface<T>`, `DictionaryType<T>` , `DictionaryTypeWIthoutTypeParameter`, and `DictionaryInterfaceWithoutTypeParameter` would be violations. `ExtendsDictionaryInterface<T>` would not be a

[2018-10-07 23:28] JoshuaKGoldberg commented on #334
Super, looking forward to your PR @karol-majewski!

1. Agreed, there should be a configurable list of names that may be taken in. IMO `Dictionary` and `IDictionary` are fine defaults.
2. Agreed, your `DictionaryInterface<T>`, `DictionaryType<T>` , `DictionaryTypeWIthoutTypeParameter`, and `DictionaryInterfaceWithoutTypeParameter` would be violations. `ExtendsDictionaryInterface<T>` would not be a

[2018-10-07 23:36] JoshuaKGoldberg opened #525 "Replace "/.*\.tsx/.test(...)" in source code with String.endsWith(".tsx")"
See discussion in #521. `/.*\.tsx/.test(node.fileName)` will accidentally skip non-tsx files in the rare case of someone including .tsx in their file name before the extension, such as the very odd `foo.tsx.ts`. Let's switch it to just checking if the string ends with the .tsx extension. `endsWith` is supported in all Node versions we support here.

[2018-10-07 23:38] #518 closed

[2018-10-07 23:46] #394 closed

[2018-10-08 00:05] roblourens commented on #525
I'm on it

[2018-10-08 00:24] JoshuaKGoldberg opened #527 "Use (j|t)sx in getLanguageVariant, rather than just tsx"
...and of course, immediately after #525 was resolved, I remembered that we haven't updated for TypeScript being able to run on `.jsx` files as well as `.tsx`.

[2018-10-08 00:58] roblourens commented on #430
How would you like this option to work with the existing args that the rule takes?

Change it to allow

[code]

?

[2018-10-08 01:07] dnguneratne commented on #527
Can I work on this?

[2018-10-08 01:08] JoshuaKGoldberg commented on #430
@roblourens that looks like a good path forward! If the "legacy" form of `string[]` regular expressions is passed, we can convert it to the `"allow"` list.

[2018-10-08 01:46] JoshuaKGoldberg commented on #527
Absolutely @dnguneratne, please do! It should be a quick change to the regular expression mentioned in that issue.

[2018-10-08 03:00] dnguneratne commented on #527
I think I need a bit of clarity here.
In PR #525,

-- `src/utils/AstUtils.ts` --
`if (/.*\.tsx/i.test(node.fileName)) {` was replaced with
`if (node.fileName.endsWith('.tsx')) {`.

If I am understanding this one correctly I should change
`if (node.fileName.endsWith('.tsx')) {` to
`if (node.fileName.endsWith('.(j|t)sx')) {` right?

[2018-10-08 05:02] sahalsaad commented on #457
Hi, I would like to work on this if no one currently working on it. Thanks

[2018-10-08 09:16] knrt10 commented on #293
@JoshuaKGoldberg I would like to work on this issue.

[2018-10-08 15:05] JoshuaKGoldberg commented on #457
I have a working version of this internally and will post it here soon.

[2018-10-08 15:10] #430 closed

[2018-10-08 15:11] JoshuaKGoldberg opened #531 "export-name should be case-insensitive by default"
Following discussion in #529, that option should default to `true`. Users should be able to pass it in as `false`.

[2018-10-08 17:07] JoshuaKGoldberg commented on #293
Awesome, great to hear @knrt10!

Unfortunately, it looks like there's a bug in the TypeScript typings in this area: see https://github.com/Microsoft/TSJS-lib-generator/issues/577. I'll mark this rule as blocked until that's resolved. Sorry for bait and switching here!

[2018-10-08 17:10] JoshuaKGoldberg commented on #527
Hey @dnguneratne - looks like this was already resolved. All is well!

By `(j|t)` I was referring to regular expression syntax implying it could be satisfied by `.jsx` or `.tsx` at the end.

[2018-10-08 18:01] dnguneratne commented on #527
Got it. Thanks for the clarification.

[2018-10-08 18:46] #353 closed

[2018-10-08 18:47] JoshuaKGoldberg commented on #353
#533 should fix this bug. If there's still an issue with comments, that would be a separate and unfortunately more difficult issue.

[2018-10-08 21:10] Chovin commented on #223
I'd love to take this on if that's alright. Thanks @cthulhu-uu! ❤️

[2018-10-09 02:39] cyberhck commented on #392
@IllusionMH
- how can I run a specific test?
- ~~node-inspector fails for some reason.~~ turns out, I've to downgrade node for this.
- ~~How can I know the decorator which we're using actually does a bind?~~ Is there a place where I define a schema to let user know that `decorators` is a array of string which is accepted for bind? (for the rule options)
- looks like I've to set experimental decora

[2018-10-09 03:50] cyberhck commented on #392
@IllusionMH
looks like I've to set experimental decorators to true on tsconfig.json, can you verify?

[2018-10-09 10:09] cyberhck commented on #392
I've enabled experimentalDecorators for test data. Will send a PR soonish.

[2018-10-09 11:20] IllusionMH commented on #504
I've found this issue linked to other opened and I have a question:
Why `no-unnecessary-class` was marked as deprecated here?
This rule is part of core TSLint rules, and not part of this repo.

And `no-unnecessary-class`(TSLint core) should be used instead of `no-stateless-class`(this repo) which is already [marked as deprecated](https://github.com/Microsoft/tslint-microsoft-contrib/blob/daacae9ab

[2018-10-09 16:54] JoshuaKGoldberg opened #535 "ReactThisBindingIssueRule should use Sets on the inside"
https://node.green/#ES2015-built-ins-Set

`Set`s have been supported in Node for quite some time. It'd be a bit more clear and efficient on super long files to use them instead of arrays for the internal members.

Not a huge priority (functionality shouldn't change), and should come after #534 is merged.

[2018-10-09 16:56] #531 closed

[2018-10-09 19:35] kevinwilde opened #537 "Suppressions for react-no-dangerous-html require absolute path"
Suppressions for react-no-dangerous-html only work when the file attribute contains the absolute path to the file.

I believe the problem is line 120 in `src/reactNoDangerousHtmlRule.ts` when the file attribute is compared for equality to a `SourceFile.fileName` which is an absolute path.

[2018-10-09 20:03] br1anchen commented on #433
@astorije According to [eslint-plugin-jsx-a11y](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/anchor-has-content.md), it should pass:
[code]
I am not sure if we should support this too, it might be out of this issue scope here.

[2018-10-09 20:31] JoshuaKGoldberg commented on #537
Agreed, and thanks for reporting this!

https://github.com/Microsoft/tslint-microsoft-contrib/blob/7e87ab24758fef21611d13091e74c55c4fc70a4e/src/reactNoDangerousHtmlRule.ts#L120

Should be a relatively simpler bug fix to switch that logic to checking if the paths generally match up. `/foo/bar/baz.tsx` should match with `C:/Code/Project/foobar/baz.tsx`.

[2018-10-09 21:11] kevinwilde commented on #537
I can work on this. I'm thinking it could be changed to
[code]

https://nodejs.org/api/path.html#path_path_resolve_paths

[2018-10-10 00:31] cyberhck commented on #535
Do you mean for private properties? Where we store the data?
Is that supposed to contain everything? If so, how about the data types? Will there be no types? Or we create separate sets for separate type of data? I want to take a stab on this issue after that's merged :slightly_smiling_face:

[2018-10-10 17:08] hasparus commented on #438
@cpsubrian Isn't this still a problem in render props though?
It will cause redundant function allocation and rerender in PureComponents.

However a whitelist would be really nice.
Maybe even with default value `["ref"]`, because of (https://github.com/palantir/tslint-react/pull/107)

[2018-10-11 06:42] cTxplorer commented on #280
@JoshuaKGoldberg Great help. Thanks!

[2018-10-11 14:06] lonyele opened #541 "Add an importNameRule option to ignore npm modules"
I've used "tslint-config-airbnb" and it uses this library. I think ImportNameRule can be useful when It checks users code, not npm installed module's code.

I recently tested with my new project setting and
`import styled from "styled-components"` and got tslint warning "Misnamed import. Import should be named 'styledComponents' but found styled"

I made this rule to be false, and it is all find.

[2018-10-12 03:45] sahalsaad commented on #278
I'll work on this.

[2018-10-13 01:29] reduckted commented on #436
Another case where you can get a false negative is Angular unit tests that use [`fakeAsync`](https://angular.io/api/core/testing/fakeAsync). The code looks like this:

[code]

Because the second parameter isn't an arrow function, the rule doesn't consider it to be mocha's `it.only()` function. Making the rule typed would fix this.

[2018-10-13 04:16] cyberhck commented on #541
I might be way wrong here, but can't you just do, `import styledComponents from "styled-components"? I thought it's just a default export, and normally in TypeScript I've mostly used something like `import * as styled from "styled-components"`, maybe that's a way?

[2018-10-13 04:28] jasperdanan commented on #252
I'd like to help, how can I contribute @JoshuaKGoldberg ?

I assume it's an implementation of an ESLint functionality to TSLint?

[2018-10-13 04:57] reduckted opened #545 "Ignore Array.forEach in mocha-no-side-effect-code"
When I write parameterized tests, I use this style of code:

[code]

This ends up creating and running three tests:
* "should work for a value of 1."
* "should work for a value of 2."
* "should work for a value of 3."

But, if the `mocha-no-side-effect-code` rule is enabled, this is flagged as an error because the rule treats `Array.forEach` as having side effects.

This _could_ be ignored using t

[2018-10-13 11:39] reduckted commented on #490
There's a number of places in the code where it's using `x != null` or `x !== null`. For example:

https://github.com/Microsoft/tslint-microsoft-contrib/blob/7e87ab24758fef21611d13091e74c55c4fc70a4e/src/chaiPreferContainsToIndexOfRule.ts#L64-L66

When dealing with strings, `x === undefined` would be required to keep the same behavior, but when dealing with objects, which of these is the preferred

[2018-10-13 13:53] lonyele commented on #541
I tried it `import * as styled from "styled-components"` because that what is usually done for react or other modules.  Then I get this error message when trying to use

`

[2018-10-14 23:03] #276 closed

[2018-10-14 23:06] #545 closed

[2018-10-14 23:15] JoshuaKGoldberg commented on #541
Hey @lonyele, thanks for posting this! Agreed that it would be nice to have an option for the rule to ignore npm modules.

The `import-name` already allows passing an object to describe a whitelist of npm modules and their imported names:

[code]

You can try that kind of configuration until the option is added. Since the rule already takes in a general object as that mapping, maybe it should also

[2018-10-14 23:20] #537 closed

[2018-10-14 23:26] JoshuaKGoldberg opened #556 "Mark ErrorTolerantWalker as @deprecated"
New rules are coming in using it... but we should really be moving to TSLint's `applyWithFunction` + `function walk` approach. [RuleWalker-based rules are slow and should be avoided](https://github.com/palantir/tslint/issues/2522).

[2018-10-14 23:32] JoshuaKGoldberg opened #557 "Remove the unnecessary JSDoc headers from rules and rule tests"
[code]

Somehow, I think we'll survive without these.

[2018-10-14 23:34] #392 closed

[2018-10-14 23:37] JoshuaKGoldberg commented on #474
Interesting. TypeScript will complain if there's a `break` in the function, and I don't know if there are many cases where we could detect that a `continue`/`break`/`return` is doing what the author intended one of the other statements to be.

[2018-10-14 23:38] JoshuaKGoldberg commented on #252
Heya @jasperdanan, glad to have you contribute!

Correct. The `eslint-plugin-security` rule looks good and we'd like to have an equivalent in `tslint-microsoft-contrib` so that TSLint users can get the same rule benefits.

This isn't quite a copy & paste job, since the ASTs for ESLint and TSLint are different, but the functionality should be about the same.

Is that enough info to go off of?

[2018-10-14 23:40] JoshuaKGoldberg commented on #490
It'd be nice to eventually also enable `strict-boolean-expressions` (#491), so the `x !== undefined` would be nice in that regard. I've been bitten by `x` equaling `0` enough times to be wary of `if (x)`.

However, if it makes it easier and less prone to bugs _(considering the many places where variables are `* | null | undefined`, `if (x)` should be fine to start here. We can always do another pa

[2018-10-14 23:56] connor4312 commented on #392
Great job @cyberhck!

[2018-10-15 00:06] #433 closed

[2018-10-15 00:09] JoshuaKGoldberg opened #558 "Consider using Prettier on tslint-microsoft-contrib"
https://prettier.io/

[2018-10-15 00:19] JoshuaKGoldberg opened #561 "Builds are broken from conflicting PRs: Utils.absolutePath"
A few PRs that use `name: 'file.ts'` were merged in around the same time #539 went in.

[2018-10-15 00:30] #561 closed

[2018-10-15 03:33] lonyele commented on #541
@JoshuaKGoldberg It sounds nice. I have other things to do right now so I can't make a PR(Actually, I already saw the codebase, but I couldn't really understand all of it to make a useful PR)
 Yeah, definitely It is in my learning list and hopefully I make a PR

[2018-10-15 10:35] reduckted commented on #491
It looks like the current grunt task doesn't specify the TypeScript project, which means no type-checked rules are used. There are three warnings that pop up:

[code]

If you run with type checking, the 'no-use-before-declare' and 'prefer-readonly' rules produce quite a lot of violations.

[2018-10-15 13:30] JoshuaKGoldberg commented on #491
Hmm, that was probably set up before TSLint even had type checking. +1.

[2018-10-15 13:46] JoshuaKGoldberg opened #566 "Enable no-any in source code"
Spin-off from #491. We should:

1. Enable the rule in `tslint.json` and `recommended_ruleset.js`
2. Fix up any violations of the rule in source code

[2018-10-15 13:48] JoshuaKGoldberg opened #567 "Enable type checking on source code linting"
As part of enabling more lint rules internally (#491), we'll want the type checker. This can be an easy change done before #484:

1. Change our grunt task(s) to enable the type checker
2. Disable any rules that would be enabled once the type checker is
3. File issues to re-enable each of those rules

[2018-10-15 13:55] #448 closed

[2018-10-15 13:56] JoshuaKGoldberg commented on #448
_(closing for housekeeping - thanks for discussing!)_

[2018-10-15 13:57] JoshuaKGoldberg opened #568 "Move rules off of ErrorTolerantWalker"
New rules are coming in using it... but we should really be moving to TSLint's `applyWithFunction` + `function walk` approach. [RuleWalker-based rules are slow and should be avoided](https://github.com/palantir/tslint/issues/2522).

Sibling to #556.

[2018-10-16 09:49] jasperdanan commented on #252
Yep!
I'll try figuring out the code first.

Is there other things to do like updating the ReadMe with the new rule?

[2018-10-16 10:58] #490 closed

[2018-10-16 11:03] #278 closed

[2018-10-16 11:05] JoshuaKGoldberg commented on #252
Yup, that's correct. It looks like ours is checking for arrays passed to require, but otherwise they're roughly the same.

Yup! https://github.com/Microsoft/tslint-microsoft-contrib/pull/543 is a good example of what you'll want to add:
* New rule under `src/`
* Corresponding new test file under `src/tests`
* New entry in `README.md` describing the rule
* New line in `tslint.json` enabling the rul

[2018-10-16 22:37] IllusionMH commented on #484
I have first working iteration on this. My initial goal was to achieve same output and errors if any as Grunt tasks.
CLI tools are used for regular tasks - clean, TypeScript compile, copy, lint, tests. For custom tasks (except creating new rule) I've created separate JS files based on grunt tasks with only minor changes.

@JoshuaKGoldberg I have a lot of questions about details. Is it possible to

[2018-10-17 03:56] JoshuaKGoldberg commented on #484
Sure! Shoot me an email at jogol@microsoft.com and we can work out something more realtime. That'd be wonderful.

[2018-10-18 13:34] #275 closed

[2018-10-20 08:48] noamyogev84 commented on #147
Hi @JoshuaKGoldberg.
Can you share some code pointers for this one?

[2018-10-20 09:42] reduckted commented on #491
It also looks like the grunt task isn't linting everything that it could. The `no-null-keyword` rule has been turned on, and running `npm test` results in everything passing, but if you run tslint directly, there are a handful of cases where the `no-null-keyword` rule finds problems. In any case, those instances of using null have been fixed indirectly by #570, and the linting via grunt will no do

[2018-10-20 10:12] reduckted commented on #455
Maybe you could do something similar to what I have set up at work. It's like the recommended rulesets that you mentioned. We have a standard tslint config that we use on all projects. That config is published on our internal npm registry, and the `"main"` file of the package points to a tslint config file, so the bare minimum tslint config would look something like this:

[code]

That npm package

[2018-10-22 20:38] simonhaenisch opened #571 "target="_blank" rel="noreferrer" implies noopener"
[code]

But, as pointed out here: https://twitter.com/_developit/status/1054422343609655296

https://github.com/yannickcr/eslint-plugin-react/issues/2022

[2018-10-23 10:33] JoshuaKGoldberg opened #573 "Switch the README.md table to separate lines within cells"
It's really hard to read diffs of this thing because of how many lines are contained per table cell. See https://github.com/JoshuaKGoldberg/sentences-per-line

https://github.com/Microsoft/tslint-microsoft-contrib/pull/572/files

[2018-10-23 10:37] JoshuaKGoldberg commented on #571
Thanks for pointing this out @simonhaenisch!

As ljharb mentioned in the eslint-plugin-react reference, it's unclear which browsers support that behavior. It wouldn't be surprising if IE behaved wrongly here. We could add an option for this rule to allow not enforcing `noopener` if `noreferrer` is there.

[2018-10-23 10:52] #566 closed

[2018-10-23 10:58] #527 closed

[2018-10-23 11:00] #457 closed

[2018-10-23 11:00] #556 closed

[2018-10-23 11:05] JoshuaKGoldberg commented on #147
Hey @noamyogev84, glad to see you're interested!

https://github.com/Microsoft/tslint-microsoft-contrib/pull/543 is a good example of what you'll want to add:
* New rule under `src/`
* Corresponding new test file under `src/tests`
* New entry in `README.md` describing the rule
* New line in `tslint.json` enabling the rule locally

The `recommended_ruleset.js` and `tslint-warnings.csv` should be au

[2018-10-23 13:58] #557 closed

[2018-10-23 17:10] JoshuaKGoldberg opened #575 "Use the same processes to generate documentation as TSLint core"
Following #573, it's a bit annoying manually crafting a README.md table. If TSLint itself makes the processes it uses to build docs extensible such that we could use it, that'd make it much easier for general community folks to have custom rulesets with good documentation.

As part of this, we should move the detailed explanations from the wiki into rule metadata and samples.

[2018-10-24 01:44] JoshuaKGoldberg opened #576 "Standardize how rules are deprecated"
There's not much benefit to keeping old deprecated rules around. I propose the following series of actions when a rule is to be marked as deprecated:

1. In one PR, mark the rule as deprecated in its metadata and README descriptions, and add a `console.warn` to its first run that complains that it's deprecated.
2. Release the first step in the next major or minor version (not patch).
3. In the nex

[2018-10-24 02:11] JoshuaKGoldberg opened #577 "Remove our custom fix formatters"
`fix-no-require-imports` and `fix-no-var-keyword` predate TSLint's ability to `--fix` violations. They're no longer necessary and should be marked as deprecated.

After the next major release following their deprecation, they should be removed.

[2018-10-24 02:29] #541 closed

[2018-10-24 02:37] JoshuaKGoldberg opened #579 "Use DefinitelyTyped (@types) instead of the "typings" folder"
`@types/*` packages are great now, unlike when the `typings` folder was created.

https://github.com/Microsoft/tslint-microsoft-contrib/blob/894dc6b781c05edbbde57453abbd49c86a374dd8/typings/node.d.ts for example, should be replaced with a `@types/node` dependency.

[2018-10-24 02:38] arogg commented on #34
Tried second example, does not work with tslint 5.11.0 . Any yes I am using the --type-check and --project option :) Other rules from tslint-microsoft-contrib seem to work.

[2018-10-24 02:46] JoshuaKGoldberg commented on #34
Hey @arogg, sorry to hear that! Would you mind [filing a new issue](https://github.com/Microsoft/tslint-microsoft-contrib/issues/new) with the following information:
* File contents _(is it exactly the second example, no modifications?)_
* Link to your project, if it's open source
* `tslint.json` contents
* How you're running TSLint, such as on the CLI or via the VS Code extension

[2018-10-24 03:08] JoshuaKGoldberg opened #582 "Add issue templates"
https://github.com/Microsoft/tslint-microsoft-contrib/community is missing green circle(s)!

https://github.com/palantir/tslint/issues/new/choose would be a good starter to go off of.

[2018-10-24 03:11] JoshuaKGoldberg opened #583 "Add PR templates"
https://github.com/Microsoft/tslint-microsoft-contrib/community is missing green circle(s)!

https://github.com/palantir/tslint/blob/master/.github/PULL_REQUEST_TEMPLATE.md would be a good starter to go off of.

[2018-10-24 16:23] #568 closed

[2018-10-25 01:50] #571 closed

[2018-10-25 02:19] jcnsilva commented on #280
Hi, @cTxplorer , are you still working on this issue?

[2018-10-25 12:36] joelalejandro commented on #459
@JoshuaKGoldberg Is there a scheduled date for the `5.2.2` version of the package to include this fix? We're using this set of rules via `tslint-config-airbnb` and we're finding the same issue. We're applying a local override in the meantime, but it would be nice to see this go live :)

[2018-10-25 15:20] JoshuaKGoldberg commented on #459
Thanks for bringing his up @joelalejandro - I'm planning on releasing a version after Hacktoberfest ends / early first week of November. It wasn't mentioned at all so I'll file a separate issue.

[2018-10-25 15:24] JoshuaKGoldberg opened #585 "Tracking for a post-Hacktoberfest version: 6.0"
There have been a _lot_ of great PRs sent in during October _(and more to come!)_. ✨

Quite a few of these are breaking, such as marking rules or formatters as deprecated (#504, #563, #580, etc.). I think it makes sense to change any mentions of the next version from 5.2.2 to 6.0.0. This would be more accurate in representing how major some of the repository changes are and more reflective of the

[2018-10-25 15:36] JoshuaKGoldberg opened #586 "Use a `walk` function instead of extending AbstractRule in our new-rule templates"
See https://github.com/palantir/tslint/issues/2522. We should be recommending a `ts.forEachChild` strategy  in what's now `rule.snippet` and will become `rule-snippet.js` after #584.

[2018-10-25 18:06] joelalejandro commented on #585
Agreed on considering the next version as a major release. 🌈

[2018-10-25 20:48] JoshuaKGoldberg opened #587 "Add Windows to .travis.yml"
Travis supports Windows now! ✨

[2018-10-25 21:28] Dgaduin commented on #378
If this is still up, I can have a go at it.

[2018-10-25 21:31] ericsnap opened #588 "documentation for 'import-name' needs clarification for more complex names"
The `import-name` rule is awesome and the override configuration is pretty slick.
However, it took me a while to figure out how to use it for `request-promise-native` which is usually imported as `request` since it simply wraps the `request` package.
I think the documentation could be updated with this _additional_ note:

[code]

I forked the project and wanted to create a PR, but I couldn't find

[2018-10-25 21:52] JoshuaKGoldberg opened #589 "Link to the Microsoft contribution guide via a Contributing.md"
See #588 - we do have a general contribution guide as a company, but not well linked in this repository.

[2018-10-25 21:53] JoshuaKGoldberg commented on #588
Hey @ericsnap it'd be great to have a PR from you! There's no _contribute.md_ or equivalent, yes, but there should be. Filed #589.

In general, if you want to make a change to the rule's .ts file or README.md, please do send those our way in the form of a pull request.

[2018-10-25 22:10] ericsnap commented on #588
@JoshuaKGoldberg filed PR #590 (I think...)

[2018-10-25 22:39] #588 closed

[2018-10-26 06:59] Igorbek commented on #378
@Dgaduin oops, sorry I didn't notice you grabbed it. I'm not sure my fix is correct though.

[2018-10-26 12:30] #378 closed

[2018-10-26 12:56] #573 closed

[2018-10-26 19:47] noamyogev84 commented on #147
@JoshuaKGoldberg Thanks man! I'm starting to explore it.

[2018-10-27 16:51] #429 closed

[2018-10-27 16:55] JoshuaKGoldberg opened #594 "misnamed-import warning for import A from '../..'"
Similar to #378 - the fix in #591 works for `'.'` and similar, but not large paths such as `../../..`.

Perhaps we should just check if the path consists only of `.` and `/`?

_As noted by @sindresorhus - thanks!_

[2018-10-27 17:28] Igorbek commented on #594
It should be working with this part too.

[2018-10-27 17:41] mesaugat commented on #587
I'll try this

[2018-10-27 18:10] mesaugat commented on #589
In addition to the `CONTRIBUTING.md` file, I've added a `CODE_OF_CONDUCT.md` file too. #597

[2018-10-27 18:12] #594 closed

[2018-10-27 18:13] #587 closed

[2018-10-27 18:40] #217 closed

[2018-10-27 18:59] jcnsilva commented on #280
@JoshuaKGoldberg can I submit a pr for this issue?

[2018-10-27 19:08] JoshuaKGoldberg commented on #280
@jcnsilva sure, go ahead. > a couple of weeks seems like a good amount of time to wait.

[2018-10-27 20:43] noamyogev84 commented on #147
Hi @JoshuaKGoldberg
I think that maybe something is missing.
I can't shake this warning: `Warning: A rule was found that is not enabled on the project: simple-attribute Use --force to continue.` when trying to run `grunt all` after creating a new rule and doing all mentioned steps.

Any help?

[2018-10-28 00:29] #484 closed

[2018-10-28 00:32] JoshuaKGoldberg commented on #147
Absolutely! That complaint comes from validation that every rule has a documentation area in `README.md`. You'll need to add a new row in the table of rules.

Does that fix it for you?

[2018-10-28 02:06] #280 closed

[2018-10-28 12:03] mesaugat commented on #458
@JoshuaKGoldberg This issue needs to be closed because it has been already done in #428

[2018-10-28 17:44] JoshuaKGoldberg commented on #458
Ah, thanks for the catch. Closed.

[2018-10-28 17:44] #458 closed

[2018-10-29 02:38] cTxplorer commented on #280
@jcnsilva No I'm not working on this issue. Sorry, for late response!
Great work, btw.

[2018-10-29 10:37] reduckted opened #602 "Enable prefer-readonly in source code"
The `prefer-readonly` rule was temporarily disabled as part of #567. It needs to be re-enabled.

[2018-10-29 10:38] reduckted opened #603 "Enable no-use-before-declare in source code"
The `no-use-before-declare` was temporarily disabled as part of #567. It needs to be re-enabled.

[2018-10-29 10:41] reduckted commented on #491
@JoshuaKGoldberg, not sure if you want to track it here as well, but I've just disabled `no-use-before-declare` (tracked at #603) as a result of turning on type-checking in #604.

[2018-10-29 11:02] reduckted commented on #603
Most of the lint errors caused by this rule would be fixed once #586 is fixed, because the majority are caused by the `RuleWalker` class being declared after the `Rule` class.

[2018-10-29 14:55] JoshuaKGoldberg opened #605 "README.md linting logic checks for the next package.json version"
Now that it's all converted to npm scripts, I'll fix the logic to check for README.md version and clarify some of this.

[2018-10-29 15:06] JoshuaKGoldberg commented on #491
Awesome, yes please! I'll add them to the list.

[2018-10-29 15:07] JoshuaKGoldberg commented on #603
Hey, sorry to shut this down, but I think we can skip having the rule enabled. Per the [docs](https://palantir.github.io/tslint/rules/no-use-before-declare/):

Thoughts?

[2018-10-29 15:09] JoshuaKGoldberg opened #606 "Test timeout should be increased beyond 2s"
As seen in #601, the Windows builds sometimes time out... ☹

[2018-10-29 15:11] #567 closed

[2018-10-29 15:18] JoshuaKGoldberg opened #608 "Extend tslint.json from tslint:all"
This will require disabling a bunch of rules, many of which will be listed in #491. Our `tslint.json` predates the ability to extend configurations.

[2018-10-29 15:32] #605 closed

[2018-10-29 15:36] JoshuaKGoldberg opened #610 "Update docs to no longer update the npm-*.*.* and releases branches"
Most other npm packages don't have the extra niceties. Do people actually use these?

/cc @HamletDRC

[2018-10-29 15:37] JoshuaKGoldberg opened #611 "Remove SDL hooks metadata and build steps"
SDL refers to the [Microsoft Security Development Lifecycle](https://www.microsoft.com/en-us/sdl). It's a bit of extra work to add our own metadata on top of TSLint's. Does anybody use this?

/cc @HamletDRC

[2018-10-29 16:01] #606 closed

[2018-10-29 16:02] #579 closed

[2018-10-29 20:54] reduckted commented on #603
Sounds good to me. All of the errors seemed to be around classes being "used" before they were defined (which wasn't technically the case), and by the sounds of it, the rule is targeted more at variables than classes.

[2018-10-29 20:58] #603 closed

[2018-10-29 23:05] IllusionMH opened #613 "Remove Appveyor"
After #596 was merged - now Travis CI verifies on both Linux and Windows.

The question is: is there a need for two CI tools?

[2018-10-30 11:19] IllusionMH commented on #608
Can I ask why `tslint:all` instead of `tslint:recommended`?

[2018-10-30 14:28] JoshuaKGoldberg commented on #613
Great observation - no, and anecdotally I found Appveyor to be slower than Travis. We can _probably_ get rid of it, but I'll try to get input from @HamletDRC first.

[2018-10-30 14:31] JoshuaKGoldberg commented on #608
I personally prefer `tslint:all` for a really strict set of rules to catch as much as possible. In my experience, the recommended ruleset is a good ramping up point for folks less familiar with linting, but the full ruleset (with some key annoying rules disabled) catches quite a few things the recommended one does not.

For example, out of the out-of-the-box configs, only `tslint:all` has `strict-

[2018-10-30 14:32] #602 closed

[2018-10-30 14:33] JoshuaKGoldberg commented on #602
Marked this as done in #491. ✨

[2018-10-30 14:36] IllusionMH commented on #608
That are interesting points. Thanks!

[2018-10-30 16:05] #608 closed

[2018-10-30 17:05] IllusionMH opened #615 "Question: Add tslint for build-tasks folder?"
At this moment there are no linting for  `.js` files in `build-tasks` folder, since separate `jsRules` entry should be added to config.

Do you think it make sense add `tslint.json` to `build-tasks` folder? Not shure that this should be a build step, but at leas will be helpful to have it in IDE.

For example - I've missed `"` in #612 during review.

[2018-10-30 18:09] JoshuaKGoldberg commented on #615
Ah, yes, +1 to have linting (or at least formatting) as part of build. I personally use `"` by preference and forgot to check for it in the files 😂.

[2018-10-30 19:00] JoshuaKGoldberg commented on #346
Just coming back to this - we now have TravisCI builds running on Windows _(whoohoo!)_ so I can take a stab at also publishing to NuGet.

We haven't forgotten about this 😃.

[2018-10-30 21:31] IllusionMH opened #618 "Enhancement: Possible improvements for watchers"
This issue is list of suggestion that can improve development workflow related to watchers.

Done. ~`npm start` - currently requires `npm test` first.~ Easy change - perform `clean` and `copy:json` before `tsc --watch`.

**Pros:** everything will work out of the box.
**Cons:** will require few seconds more to start.

`watch:runt-tests` - performs initial test run when started (after watcher ready)

[2018-10-31 19:52] IllusionMH opened #620 "Incorrect deprecation message for fix-no-require-imports formatter"
`no-require-imports` is part of `tslint` repo and doesn't have fixer ([rule meta](https://github.com/palantir/tslint/blob/master/src/rules/noRequireImportsRule.ts#L25-L34)).

Therefore change in #580 should be reverted or fixer implemented in `tslint` repo.

`no-var-keyword` rule related to other deprecated formatter in #580 related to  [has fixer](https://github.com/palantir/tslint/blob/master/sr

[2018-10-31 20:09] JoshuaKGoldberg commented on #620
Good catch - I've had auto-suggestions for that in VS Code, but can't find docs for that in VS Code or TypeScript with some quick Googling. Odd.

We don't want to have the maintenance cost of these custom formatters here so +1 to reimplementing the fixer in the `tslint `repo.

[2018-10-31 20:09] #620 closed

[2018-10-31 22:51] IllusionMH commented on #620
TS made it code fix in 2.8 https://github.com/Microsoft/TypeScript/pull/22204
VS Code https://code.visualstudio.com/updates/v1_22#_suggestion-code-actions-for-javascript-and-typescript

WebStrom have quick action for this, but need to check.

[2018-11-01 13:45] HamletDRC commented on #611
@JoshuaKGoldberg honestly no, we can stop updating this. MS kept a list of warnings in Warnings Central that we updated. But we can kill this.

[2018-11-01 13:45] HamletDRC commented on #613
@JoshuaKGoldberg  sure, get rid of Appveyor.

[2018-11-01 13:46] HamletDRC commented on #610
@JoshuaKGoldberg  as long as the release process wiki page is up to date and we can make releases, then we're free to change it any way we want. So do what you want here.

[2018-11-01 15:34] mesaugat commented on #615
Would it be fine to use [prettier](https://prettier.io/) throughout the codebase or for the `build-tasks` folder? It has good IDE support too.

[2018-11-01 17:59] JoshuaKGoldberg commented on #615
Indeed: https://github.com/Microsoft/tslint-microsoft-contrib/issues/558

[2018-11-01 18:00] IllusionMH commented on #615
I think it will be great. Although I don't know if `tslint-prettier-config` supports JS files.

[2018-11-01 18:39] IllusionMH commented on #585
Look like it should be major release because `src/utils/ErrorTolerantWalker.ts` was removed while it was available in npm package.
Other changes at least linked in OP don't require major version change (deprecation warnings should be ok for minor. Please correct me if I'm wrong).

[2018-11-01 18:48] IllusionMH opened #622 "Question: Enable Node.js 10 in Travis CI?"
Node.js 10.13 [became LTS recently](https://nodejs.org/en/blog/release/v10.13.0/) and it make sense to check that devs who adopted latest LTS won't have compatibility problems.

UPD. And probably add next `11` version too :)

[2018-11-01 19:04] mesaugat commented on #622
Yes, I think this is required.

[2018-11-01 19:07] IllusionMH opened #624 "Enhancement: Make `no-relative-imports` rule stricter"
At this moment `no-relative-imports` dissalows `..` only at the beginning of the import path (see #508).

Since next release most likely will be [major release](https://github.com/Microsoft/tslint-microsoft-contrib/issues/585) it is good opportunity to make "breaking" change disallow `..` inside path.

This will be easy check and won't require a lot of effort.

Ideally - disallow not only `/../` b

[2018-11-02 22:41] JoshuaKGoldberg commented on #585
Planning on doing this within the next two days. 🎉

[2018-11-02 22:42] JoshuaKGoldberg commented on #624
Sure, if this gets in within the next couple of days let's fast-track it into 6.0. On the other hand, since `no-relative-imports` is an odd and rarely used rule _(I've been recommending against it for some time now)_, if this gets in as a 6.1 change instead of 6.0.1, that feels fine too.

[2018-11-02 22:43] #589 closed

[2018-11-03 01:19] JoshuaKGoldberg opened #627 "README.md: Mention plain tslint.json configuration instead of Gulp"
Seems a bit outdated to only mention Grunt.

[2018-11-03 17:42] JoshuaKGoldberg commented on #624
1. That seems fine. It'd be nice to keep it, but if it overly complicates the implementation details, agreed that it's not critical. We can always file a followup issue to re-add it.
2. Yes, unfortunately. Some Windows developers use `\` as path separators AFAIK.

[2018-11-03 19:50] noamyogev84 commented on #147
Hi @JoshuaKGoldberg . Can you please look at my PR?
I had some weird issues with the unit tests.
1. The test runner always starts from the second test. can you please help with that?
2. I had to include an `import react` statement in my unit tests `script`, for my rule to be hit. why is that?

Thanks!

[2018-11-03 20:48] JoshuaKGoldberg commented on #147
I'm not seeing that. Travis is running the first test: https://travis-ci.org/Microsoft/tslint-microsoft-contrib/jobs/450301500

That's intentional and good 😊 in order to write the JSX syntax, there needs to exist some global "factory" to create the elements. `<div />` will be roughly compiled to `React.createElement("div")`. That's why we have `"jsx": "react"` in our `tsconfig.json`s.

[2018-11-03 23:30] #624 closed

[2018-11-04 12:30] IllusionMH commented on #489
Update on this issue.

After #584 and #616 landed, now all infrastructure tasks are ready to accomplish test migration.

This repo has 92 rules and it will definitely take time to properly migrate all tests. I will do it in several PRs.

**If you want to help - you are welcome**. Plase leave a comment with list of rules you want to migrate, so we won't do same work.

Progress: **1 of92**

🏃  marks

[2018-11-04 21:05] JoshuaKGoldberg commented on #489
I'll roughly start on the rules from the bottom up today, ending somewhere before `no-unnecessary-bind`, then post the list here.

[2018-11-04 21:09] noamyogev84 commented on #274
Hi @JoshuaKGoldberg, I'd like to try this one out.
possible?

[2018-11-04 21:44] JoshuaKGoldberg commented on #274
Absolutely, please do!

[2018-11-04 22:15] IllusionMH opened #632 "Incorrect RegExp in export-name rule leads to superfluously permissive"
As was discovered in https://github.com/Microsoft/tslint-microsoft-contrib/pull/623#discussion_r230436742 RegExp in `export-name` rule has issue with improperly escaped `.` as well as missing check for line start/end. These problems leads to several problems.

For class name `SomeClass` it allows:
1. Wrong `.` escape: `SomeClassButAnyTextHere.tsx`, `SomeClassWithoutExtension`
1. No end of line che

[2018-11-04 22:59] IllusionMH commented on #435
In v6.0 `allow-siblings` option will be available which allows imports from same or nested folders so `./ElData` from original post will be allowed.

Does this option solves other problems in this thread?

[2018-11-05 01:32] #440 closed

[2018-11-05 01:37] JoshuaKGoldberg commented on #632
Agreed, this is an existing bug that should be fixed as suggested; the author likely meant to escape the `.` properly.

[2018-11-05 01:42] IllusionMH opened #634 "Proposal: Remove absolute paths from error messages (ideally before 6.0)"
Absolute paths block micration to TSLint test format, since error message will depend on file location, and can't be universal across Windows/Linux/Mac OS.
File name/path should be in formatter output (I've checked all core formatters and they provide absolute path).

There are 3 rules that use absolute path in its erros:

- `export-name` [source](https://github.com/Microsoft/tslint-microsoft-cont

[2018-11-05 01:50] IllusionMH opened #635 "`export-name` description in README.md contains reference to `import-name`"
Description should not include part of other rule description.

[2018-11-05 01:52] IllusionMH commented on #632
What about case 2 and 3?

[2018-11-05 06:56] #558 closed

[2018-11-05 07:03] JoshuaKGoldberg commented on #634
Agreed that it'd be good to remove these even without the conversion to the new test format and that it'd be good to do this pre-6.0. Let's get this in on 11/5 so we can release 6.0 on 11/5.

[2018-11-05 07:04] JoshuaKGoldberg commented on #635
![image](https://user-images.githubusercontent.com/3335181/47982818-216ccb00-e09f-11e8-9a09-5704d1bfbb86.png)

[2018-11-05 07:08] #610 closed

[2018-11-05 09:20] JoshuaKGoldberg commented on #632
When would this case be typically hit? `SomeClass.spec.ts`, perhaps? My understanding of the RegExp's intent is that it was meant to allow (name of the exported thing) plus (any extension). It makes sense that we would consider `.spec.ts` to be the extension. Although the technical file extension is anything after the _last_ `.`, this rule's logic would be anything after the _first_ `.`.

Yes, thi

[2018-11-05 09:20] #622 closed

[2018-11-05 16:06] #582 closed

[2018-11-05 16:06] #583 closed

[2018-11-05 17:13] IllusionMH commented on #632
Actually with fixed check for start of the line there are 80 _(why not 93?)_ errors because of `export class Rule ...` in this repo 🤣
Does in make sense to add this fix to 6.0? Might be breaking for someone.
Implementation and tests almost finished.

[2018-11-05 17:47] #627 closed

[2018-11-05 19:01] noamyogev84 commented on #274
Hi @JoshuaKGoldberg, @HamletDRC
In order to better understand this rule can you please help with the following questions:
1. What is a11y?
2. *"Heading content should be concise.."* how can I determine?
3. *"Heading elements (h1..h6) should be used for structuring information on the page..."*, how do you enforce this?

Thanks in advance!

[2018-11-05 19:11] JoshuaKGoldberg commented on #274
Accessibility. Ironic that the term for making things more accessible is a subtly inaccessible term. 🤷

The link in the OP no longer has any real info and I can't find anything else on the internet... How about limiting to a maximum number of characters or to a single sentence? Maximum number of characters would be easiest to implement as a configurable rule; keeping to a single sentence is [surpr

[2018-11-05 21:08] #634 closed

[2018-11-05 23:41] JoshuaKGoldberg commented on #489
Changing the label from `Difficulty: Hard` to `Difficulty: Easy` now that the infrastructure _(and endline behaviors)_ have been figured out. 🚀

[2018-11-05 23:44] #635 closed

[2018-11-05 23:56] #362 closed

[2018-11-06 00:14] JoshuaKGoldberg opened #644 "Release process: consider converting to the same tag style as TSLint"
[new-fixer], [new-rule], etc.

This'd help make the https://github.com/Microsoft/tslint-microsoft-contrib/wiki/Release-Notes a little more standardized.

[2018-11-06 00:15] JoshuaKGoldberg opened #645 "Release process: consider using beta versions"
I'm planning on flighting a `6.0.0-beta0` before `6.0.0`. Should this be part of the regular process?

[2018-11-06 01:01] JoshuaKGoldberg opened #646 "Many rules are unnecessarily marked as typescriptOnly"
Each rule with `typescriptOnly: true` should be checked to see if it can be turned on for `.jsx?` files.

~~Similarly, `.endsWith("tsx")` from #525 should be replaced with a unified utility to check if a file name is jsx/tsx.~~ Resolved by #527.

[2018-11-06 20:12] JoshuaKGoldberg commented on #585
https://www.npmjs.com/package/tslint-microsoft-contrib/v/6.0.0-beta is available now! Release notes are up at https://github.com/Microsoft/tslint-microsoft-contrib/wiki/Release-Notes, minutes notes on what's breaking - will add those today.

/cc @IllusionMH @joelalejandro @mesaugat

[2018-11-06 20:45] JoshuaKGoldberg opened #648 "Better describe and suggest new rules' version options"
Following @IllusionMH's comment in https://github.com/Microsoft/tslint-microsoft-contrib/pull/647#issuecomment-436277440 -  we should have a better template for what users should put in README.md as the rules' starting version.

During the release process, we change them to what's correct, but until then it can be misleading to see incorrect version numbers in the big README.md table.

This should

[2018-11-06 20:54] joelalejandro commented on #585
Awesome news! I've reached to the maintainer of `tslint-airbnb-config` to propose an update there as well. Thanks @JoshuaKGoldberg :D

[2018-11-07 00:35] JoshuaKGoldberg opened #649 "Don't recommend no-use-before-declare or other deprecated or legacy rules"
Following discussion in https://github.com/vuejs/vue-cli/issues/2712

[2018-11-07 18:42] #613 closed

[2018-11-08 04:02] mesaugat commented on #615
Do we still need this? What JavaScript rules do we want to enable?

We can add `jsRules` key to `tslint.json` or use `eslint` for `build-tasks` folder separately with `eslint:recommended` ruleset. What are your thoughts?

[2018-11-08 11:29] kkor commented on #85
Same question here, according to Mochas documentation you can generate tests dynamically like this:
https://mochajs.org/#dynamically-generating-tests

But this will trigger mocha-no-side-effect-code.

[2018-11-08 16:30] JoshuaKGoldberg commented on #85
@johnemau @kkor good question. It's pretty difficult to tell statically whether side effect code is legitimately setting up dynamic tests or otherwise doing dangerous work. If you have a proposal for how we could determine it, it'd be great if you could file an issue with details.

Until then your best bet is to just disable the rule, either in your `tslint.json` or `with `// tslint:disable:mocha-

[2018-11-09 17:45] #147 closed

[2018-11-10 01:59] IllusionMH commented on #615
Reimplementing them in TS wouldn't help much because it will still require separate tslint.json as well as tsconfig.json. And I'm not sure what typed rules will be beneficial here. So if only goal is linting - migration won't be very helpful.

However, I don't have objections to migrate them to TS. I was thinking to implement them in TS, but it was discussed and intentionally skipped from initial

[2018-11-13 14:58] IllusionMH commented on #649
Is there a clear way to determine which rules are "deprecated" or "legacy"?
For example `no-use-before-declare` doesn't have any hints (metadata properties) except couple sentences in description.

In this case - changes should be made to `additional_rule_metadata.json` but this will also affect `tslint-warnings.csv` which I'm not sure how it is used.

[2018-11-13 15:49] JoshuaKGoldberg commented on #649
@IllusionMH that's a good idea. You could also consider filing an issue in TSLint core to add "legacy"/"discouraged" field(s) to metadata.

[2018-11-14 07:57] astorije commented on #403
Hey @JoshuaKGoldberg!

[This](https://github.com/Microsoft/tslint-microsoft-contrib/blob/master/src/noReservedKeywordsRule.ts#L87) should still be removed, here, no?

The use cases we're seeing, at least at the moment, are interface definitions that contain `type: string`. One use case is a return type from GraphQL (meaning, the backend API returns a `type` field and that's what it is), another on

[2018-11-14 16:45] JoshuaKGoldberg opened #652 "Mark no-reserved-keywords as deprecated"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0-beta
-   **TSLint version**: 5.11
-   **TypeScript version**: 3.1.3
-   **Running TSLint via**: *

There are still issues being reported with `no-reserved-keywords` (#395, #403), but the rule is an inferior version of TSLint core's [`variable-name`](https://palantir.github.io/tslint/rules/variable-name) with `ban-keywords`, right?

[2018-11-14 16:45] JoshuaKGoldberg commented on #403
@astorije agreed, `type` should be removed. I think the root problem is that this rule should be marked deprecated since `variable-name` overrides it, but hasn't yet been. Filed #652. Thanks for the ping!

[2018-11-15 01:44] IllusionMH opened #653 "`no-octal-literal` underdelivers"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0-beta (`master` branch)
-   **TSLint version**: 5.1.1
-   **TypeScript version**: 3.1.1
-   **Running TSLint via**: CLI

During migation of tests I've noticed some strange behviors in this rule.

#### TypeScript code being linted

[code]
First case is part of [passing test](https://github.com/Microsoft/tslint-microsoft-contrib/blob/4

[2018-11-15 15:10] emattias opened #654 "No changelog"
#### Actual behavior
No changelog listing changes in releases

#### Expected behavior
A changelog :)

[2018-11-15 16:33] IllusionMH commented on #654
I believe it about releases page on GitHub.
Empty in this repo https://github.com/Microsoft/tslint-microsoft-contrib/releases
Detailed for each release in core repo https://github.com/palantir/tslint/releases

[2018-11-26 13:07] lupine86 opened #656 "Request: Build, Test and Release tslint-microsoft-contrib using Azure Pipelines"
This is a request to implement continuous integration builds that test tslint-microsoft-contrib using Azure Pipelines.  The pipeline would be developed to run tests across various versions of node on Windows and Linux on every commit.  A release pipeline could also be used for releasing/publishing to npm and NuGet and automate the versioning described in https://github.com/Microsoft/tslint-microso

[2018-11-26 17:05] birkir commented on #403
Should be removed:

[code]

[2018-11-26 19:05] JoshuaKGoldberg commented on #656
Thanks for starting this @lupine86! A few notes on requirements for any CI build system:

* It must have feature parity with what we have now:
    * Running on both Linux and Windows
    * Node versions 6, 8, 10, and 11
* It shouldn't be significantly slower (and ideally should be a step up)
* If we're going to switch, It should be able to release npm and NuGet packages (#346)
    * Ideally we sho

[2018-11-26 19:14] JoshuaKGoldberg commented on #575
Huh, [Codelyzer](https://github.com/mgechev/codelyzer) does this: http://codelyzer.com/rules/

...and has a snazzy playground. nice.

[2018-11-27 13:29] agjs commented on #339
The comment above is pretty frightening. Can someone elaborate on why provided works and naming stuff Props doesn't? Let's write code, not magic..

[2018-11-27 15:44] kingdaro commented on #339
It passes probably because `SomeRandomProps` doesn't fall under the default pattern, which only checks for `Props`. It's passing because TSLint isn't verifying it at all. I haven't tested myself to be sure, so correct me if I'm wrong.

[2018-11-30 02:45] nextriot opened #658 "Why does naming an interface 'Props' not give correct type-checking with a functional React Native component?"
### Bug Report

-   **`tslint-microsoft-contrib` version**: ^5.2.1
-   **TSLint version**: ^5.11.0
-   **TypeScript version**: ^3.1.6
-   **Running TSLint via**: VS Code

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Typescript does not pick up on the fact that the color property has been used in the component, and reports: `[tslint] Un

[2018-11-30 03:39] nextriot commented on #339
Any progress on this? I just posted an issue referencing this exact issue over a year after this was posted :(

[2018-12-02 06:48] JoshuaKGoldberg commented on #339
@nextriot it's still accepting PRs if anybody (you? 😉) is up for contributing a solution to the issue. As HamletDRC noted, a proper solution that covers all the destructuring corner cases is fairly time consuming to write. Unless you have the time to start on it yourself, I wouldn't expect a solution to this anytime soon.

[2018-12-02 06:49] JoshuaKGoldberg commented on #658
Shouldn't TypeScript's `--noUnusedParameters` flag _(or TSLint's `no-unused-variable` if you're still using it) pick up on this instead?

[2018-12-02 20:27] JoshuaKGoldberg opened #659 "Odd error string in chai-prefer-contains-to-index-of"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**: 5.11.0
-   **TypeScript version**: 3.1.2
-   **Running TSLint via**: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

`Found chai call with indexOf that can be converted to .contain assertion: `

#### Expected behavior

`Found chai call with inde

[2018-12-02 20:37] JoshuaKGoldberg opened #660 "Odd error string in chai-vague-errors"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**: 5.11.0
-   **TypeScript version**: 3.1.2
-   **Running TSLint via**: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

[code]

#### Expected behavior

[code]

Note the period and space in the second error message. Seems odd.

[2018-12-02 20:46] JoshuaKGoldberg opened #661 "validate-private-statics-as-either skips some names and needs tests"
In working on migrating `function-name` tests as part of #489, I noticed that the test cases for options such as `validate-private-statics-as-either` don't test that the rule gives complaints when those options are enabled. Seems like a gap in test coverage.

Anybody is welcome to tackle this! 😊

[2018-12-02 20:46] JoshuaKGoldberg commented on #660
I'll take this on as a side mission to #489.

[2018-12-02 20:46] JoshuaKGoldberg commented on #659
I'll take this on as a side mission to #489.

[2018-12-03 00:33] IllusionMH commented on #653
Another problem spotted is errors like `Octal literals should not be used: \-035`.
Ignoring "literal part" - octal escapes cannot include `-` character.
In test string `return "Sample text \-035";` it would be just escaped `-` character.
[code]

I think this should be considered during fixing problems mentioned in original post.

[2018-12-03 02:49] JoshuaKGoldberg commented on #339
Yeah contributing docs are something that could be a bit spruced up with TSLint ([open issues](https://github.com/palantir/tslint/issues?q=is%3Aissue+is%3Aopen+documentation+label%3A%22Domain%3A+Documentation%22)) ☹... A few handy docs on getting started:
* https://astexplorer.net/ - to visualize how an AST (Abstract Syntax Tree) represents code (be sure to change the parser to TypeScript on the t

[2018-12-03 11:39] IllusionMH commented on #658
Options are:
- Disable this rule until it is fixed (I'd propose this one).

- Disable this rule on file by file basis with `// tslint:disable react-unused-props-and-state`  comment
(only if have a ton of class components (that do not use destructuring on `this.props`/`this.state`) and can benefit from this rule in general)

- Use different naming conventions for class and function in a way so prop

[2018-12-03 19:36] JoshuaKGoldberg opened #662 "no-backbone-get-set-outside-model has obscenely long rule warnings"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**: 5.11.0
-   **TypeScript version**: 3.1.2
-   **Running TSLint via**: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Rule failure should just be that one line

#### Expected behavior

In the rule's source:

[code]

`node.getEnd()` is passed to t

[2018-12-03 22:45] maschino opened #664 "export-name: crashes with "Cannot read property 'elements' of undefined""
### Bug Report
The linting rule **export-name** crashes if there's a file containing only one `export * from './Foobar'`.

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**: 5.11.0
-   **TypeScript version**: 3.1.6
-   **Running TSLint via**: (pick one) CLI `npx tslint --project .`

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]
(It's ba

[2018-12-04 21:30] joseSantacruz opened #667 "The 'import-name' rule threw an error. Cannot read property 'importClause' of undefined"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**:5.11.0
-   **TypeScript version**:3.1.6
-   **Running TSLint via**:  CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
[code]
#### Expected behavior

Rule should not crash and no linting issue should be found.

[2018-12-05 10:47] IllusionMH commented on #667
@jvanoostveen first one causes your exceptions, because there are no `importClause` in `ImportStatement` element.
Second should be processed just fine. Do you have problems with linter if you comment `import './polyfills';` and similar lines?

[2018-12-05 11:16] jvanoostveen commented on #667
For this import, we disable the linting rule: 'no-import-side-effect'. No other issues with crashing rules. But not all Microsoft contrib rules are enabled, so not all are tested.

[2018-12-05 20:01] joseSantacruz commented on #667
Hi @IllusionMH ,

this is the code of the SejiValidationHandler.ts

[code]

And in case is usefull this is my current tsconfig

[code]

[2018-12-05 20:56] joseSantacruz commented on #667
@IllusionMH after removing the imports the error disappears, my node version is 8.10.0. So I think the error should be the same

[2018-12-05 22:10] IllusionMH commented on #667
Really strange.
[code]

But still I can't get `TypeError: Cannot read property 'importClause' of undefined`. Will try to run in Linux container later.

The other strange thing is stack trace. Where traces are identical except only line numbers of last string:
[code]

And in my case (for 6.0.0) I have
[code]
and `visitImportDeclaration` ends on 135 line, so exception cannot be on line 138 if there

[2018-12-10 15:05] joseSantacruz commented on #667
Hi @IllusionMH

thi is the command that I'm running `npx tslint -t stylish --project tsconfig.json -c tslint.json 'src/**/*.ts'`

[2018-12-11 06:01] #664 closed

[2018-12-11 18:29] JoshuaKGoldberg opened #670 "Update tsutils dependency to ^3"
This should be coordinated with https://github.com/palantir/tslint/issues/4365.

It would have been nice to get this in as part of `6.0`, but that's a bit back. Perhaps `6.1` here should match with `6.0` there?

[2018-12-13 21:35] #662 closed

[2018-12-13 21:38] JoshuaKGoldberg opened #671 "import-name rule is missing tests for `import "some-name";`"
See discussion in #667 and #669. We should add some test cases to the rule to make sure these things aren't broken now & don't get broken in the future.

Example:

[code]

[2018-12-13 22:13] #585 closed

[2018-12-13 22:13] JoshuaKGoldberg commented on #585
https://www.npmjs.com/package/tslint-microsoft-contrib/v/6.0.0 is released. Closing this issue and opening a new one for tracking 7.0. Thanks folks!

[2018-12-13 22:23] JoshuaKGoldberg opened #672 "Planned large or breaking changes for v7.0"
Starting this discussion early to track what's going to be in 7.0... what else should go here?

## 💪 Large changes

* #575: Use the same processes to generate documentation as TSLint core

## ⚠️ Breaking changes

* #825: Use in-place compilation instead of directory swapping
* #716: Stop including library-specific rules in the recommended ruleset
* #678: Ease up on strictness in the default config

[2018-12-13 22:27] JoshuaKGoldberg opened #673 "use-named-parameter shouldn't be marked as TypeScript-only"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0

Not true - the rule can run on JS files too.

See the rule metadata in src/useNamedParameterRule.ts

Subset of #646.

[2018-12-13 22:59] IllusionMH commented on #653
After second and third thoughts I think there is alternative approach:
1. Implement new separate rule `no-octal-escapes` (as I can see there is no such rule in [tslint-eslint-rules](https://www.npmjs.com/package/tslint-eslint-rules) but ESLint has one).
1. Mark `no-octal-literal` as deprecated and remove eventually (not sure if in 7.0 or 8.0).

Reasoning not to check number literals as I suggested

[2018-12-13 23:00] IllusionMH commented on #672
Posted some thoughts about `no-octal-literals` here: https://github.com/Microsoft/tslint-microsoft-contrib/issues/653#issuecomment-447152147
If it will be preferred way - deprecation/removal should be tracked here.

[2018-12-14 06:16] astorije commented on #652
You got it!

[2018-12-14 16:47] JoshuaKGoldberg opened #675 "Odd whitespace characters in tslint-warnings.csv"
See conversation in #674.

[2018-12-14 17:10] #652 closed

[2018-12-14 18:01] astorije opened #676 "Good practice for react-this-binding-issue"
*(Sorry this is not a bug report or feature request, but I figured it would be nice to have this listed somewhere on the repo)*

Up until v6.0.0, we were gently riding on a bug of the `react-this-binding-issue` rule that was not seeing some violation. Imagine the following, minimal (as much as I could) example:

[code]

Prior to v6, TSLint was okay with that, but after the upgrade:

[code]

So, ye

[2018-12-14 18:23] astorije commented on #672
@JoshuaKGoldberg, I don't know if this is the type of feedback you are looking for, but I would love it if `function-name` was not forcing me to use all uppercase to name my static functions [here](https://github.com/Microsoft/tslint-microsoft-contrib/blob/master/src/functionNameRule.ts#L90).

So without disabling this rule, this is what I would have to do at the moment:

[code]

Instead I'd prefe

[2018-12-14 21:13] JoshuaKGoldberg commented on #676
Another quick workaround:

[code]

[2018-12-14 22:46] astorije commented on #676
Right so the following works, but it's just to trump the linter really:

[code]

[2018-12-14 23:46] JoshuaKGoldberg commented on #672
A few more people: @reduckted @mesaugat @iclanton, any thoughts on things you'd like to see here for 7.0?

[2018-12-14 23:48] JoshuaKGoldberg opened #677 "Stop extending from TSLint's ruleset in the published ruleset"
Followup to #309 - it's confusing to many users that `"extends": ["tslint-microsoft-contrib"]` includes our rules extended from TSLint itself. This should be removed in 7.0.

Community packages should just be a set of rules; there's no reason why extending their rules would have any opinion on the core rules brought in with them.

[2018-12-14 23:51] JoshuaKGoldberg opened #678 "Ease up on strictness in the default configs of naming rules"
Splitting off from @astorije's comment in #672: `function-name` suggesting static functions be UPPERCASE is odd and nonstandard behavior. That should not be enabled as part of the default configuration.

We should also double-check other rules to see if there are odd naming conventions espoused by their defaults.

[2018-12-14 23:52] JoshuaKGoldberg commented on #672
@astorije - agreed; added to the list:
* #677: stop including TSLint core rules (followup to #309, which can come in first)
* #678: removal of that odd casing preference

[2018-12-14 23:52] astorije commented on #678
I'm fine with the strictness here btw, just this convention felt odd compared to what's out there.

[2018-12-15 00:48] reduckted commented on #672
Regarding `function-name`, I don't use it and instead use the `naming-convention` rule from [tslint-consistent-codestyle](https://github.com/ajafff/tslint-consistent-codestyle/blob/master/docs/naming-convention.md#naming-convention). It's highly configurable and looks at things like access modifiers and whether things are exported or not.

[2018-12-15 00:53] reduckted commented on #380
Just linking #455 here since you mentioned it could be generalized.

[2018-12-15 11:09] reduckted commented on #672
#586 talks about changing the new rule template to use a `walk` function instead of extending `AbstractRule`. I imagine that all _existing_ rules should be changed to use a `walk` function as well. That would be a pretty large change, so it might be a good candidate for 7.0.

[2018-12-15 15:43] JoshuaKGoldberg opened #680 "Convert all existing rules to use a `walk` function instead of extending AbstractRule"
Partner to #586: following palantir/tslint#2522, we should be recommending a ts.forEachChild strategy.

Accepting any PRs that take an existing rule and convert it to `walk`! ✨

[2018-12-15 15:43] JoshuaKGoldberg commented on #672
Yes! Though we can do that before 7.0 as it's not a breaking function. Filed an issue here: #680

[2018-12-15 22:13] noamyogev84 commented on #204
@JoshuaKGoldberg @HamletDRC I'll try this one if it's ok... :)

[2018-12-17 10:37] IllusionMH commented on #653
Yes, create new rule in code and deprecate one in this repo.

[2018-12-17 23:35] #274 closed

[2018-12-17 23:36] #673 closed

[2018-12-17 23:37] JoshuaKGoldberg commented on #204
@noamyogev84 go for it!

[2018-12-18 14:36] #258 closed

[2018-12-18 16:19] JoshuaKGoldberg opened #684 "PR builds on Node 6 fail during linting"
Example PR: https://github.com/Microsoft/tslint-microsoft-contrib/pull/682
Example build break: https://travis-ci.org/Microsoft/tslint-microsoft-contrib/jobs/469577861

[code]

[2018-12-18 16:22] JoshuaKGoldberg opened #685 "Update to TSLint 5.12.0"
🙌 new version! Very exciting!

Should fix #684 by coincidence.

[2018-12-18 16:22] JoshuaKGoldberg commented on #684
`increment-decrement` was added in the just-released TSLint 5.12.0. It's spooky and mysterious that Node 6 isn't respecting `package-lock.json`. This should be fixed by updating the dependency version.

[2018-12-18 20:32] JoshuaKGoldberg opened #687 "Mark TSLint@5.12.0 rules as deprecated"
Sibling issue to #685. The following rules were just moved into TSLint core:
* `no-function-constructor-with-string-args`
* `no-unnecessary-bind`
* `no-increment-decrement`

[2018-12-19 15:19] IllusionMH commented on #680
Reopening this issue because it tracks migration of all rules and was closed automatically with `fixes #NNN` text in PR text.

**Note to reviewers:** check if PR text strictly follows template and will close this one again.

[2018-12-25 17:26] JoshuaKGoldberg opened #693 "Rule suggestion: void-zero"
### Rule Suggestion

**Is your rule for a general problem or is it specific to your development style?**

One could argue for either, but IMO this is more of a general problem.

**What does your suggested rule do?**

Some projects have instances of `void 0` instead of `undefined`. They technically resolve to the same thing _(and minifiers typically convert to `void 0` to safe a few characters)_ bu

[2018-12-26 16:35] JoshuaKGoldberg commented on #356
This is grander in scale than what a linter can do well. Addressing this would need access to the TypeScript language service.

I've started work on this in [TypeStat](https://github.com/JoshuaKGoldberg/TypeStat) instead.

[2018-12-26 16:35] #356 closed

[2018-12-26 16:35] JoshuaKGoldberg commented on #357
This is grander in scale than what a linter can do well. Addressing this would need access to the TypeScript language service.

I've started work on this in [TypeStat](https://github.com/JoshuaKGoldberg/TypeStat) instead.

[2018-12-26 16:35] #357 closed

[2018-12-26 16:35] JoshuaKGoldberg commented on #358
This is grander in scale than what a linter can do well. Addressing this would need access to the TypeScript language service.

I've started work on this in [TypeStat](https://github.com/JoshuaKGoldberg/TypeStat) instead.

[2018-12-26 16:35] #358 closed

[2018-12-26 16:36] JoshuaKGoldberg commented on #491
Now that the tooling is a bit more fleshed out, marking this as a good first issue and easy difficulty. Updating the OP to be a bit more clear.

[2018-12-26 19:18] JoshuaKGoldberg opened #694 "Add TS@5.12.0 rules to the recommended ruleset"
Following #685: it would be a breaking change to start putting those rules in the recommended ruleset. Let's add them in 7.0?

[2018-12-27 15:06] JoshuaKGoldberg opened #696 "react-a11y-accessible-headings is missing from recommended_ruleset.js"
### Bug Report

-   **`tslint-microsoft-contrib` version**: Latest on master

Spinning off of #686 - `react-a11y-accessible-headings` isn't mentioned in `recommended_ruleset.js`. Running `npm run test` re-adds it back in.

[2018-12-27 15:08] #684 closed

[2018-12-27 15:08] #685 closed

[2018-12-27 15:14] JoshuaKGoldberg opened #697 "Remove TSLint@5.12.0 rules from the recommended ruleset (before the next release)"
Following #686 - rules from TSLint@5.12.0 are now in the recommended ruleset. That'd be a breaking change and IMO we shouldn't release a minor version before taking them back out.

This is a precursor to, and the opposite of #694 - that one is for adding them back in as a breaking change.

[2018-12-27 15:15] IllusionMH commented on #696
I have an impression (may be wrong) that contributors are not sure if they should add/commit changes to automatically generated files (specifically `recommended_ruleset.js` and `tslint-warnings.csv`).

It may worth to add information to `CONTRIBUTING.md` that changes in these files related to new rules should be also commited. And during review check if changes are present and ask to add for examp

[2018-12-27 15:17] JoshuaKGoldberg commented on #696
Agreed. I think it'd be good to have a comment on top of `recommended_ruleset.js` linking to those docs too.

[2018-12-27 15:19] IllusionMH commented on #687
Deprecation warnings and notes in `README.md` wre added in #686.

[2018-12-27 15:19] #687 closed

[2018-12-27 17:49] #696 closed

[2018-12-27 17:53] JoshuaKGoldberg opened #700 "Better document and support auto-generated configs for contributors"
Quoting @IllusionMH in #696:

And my response:

I wonder if we should enable them as a commit hook, as with Prettier?

[2018-12-28 10:58] noamyogev84 opened #703 "Unable to debug rules using the Run TSLint Tests template"
### Bug Report

-   **`tslint-microsoft-contrib` version**: latest
-   **TSLint version**: 5.11.0
-   **TypeScript version**: 3.1.1
-   **Running TSLint via**: VSCode
-   **Node.js version**:8.12.0
-   **OS**: win10 x64

Trying to debug tests under `tests` folder with no success.
Command: `node.exe --inspect-brk=27157 node_modules\tslint\bin\tslint --test -r dist/src tests/**`
Output: `Debugger li

[2018-12-29 02:57] VincentLanglet opened #707 "Separate microsoft contrib ruleset from tslint core rules"
### Feature request

**Describe the solution you'd like**
The recommended ruleset seems to be opinionated about different tslint core rules. It can provide a complete config for tslint. But in my case i use tslint:all and remove a few rules. It could be great to have something like

- `tslint-microsoft-contrib` : all recommended rules from the microsoft contrib repository only.
- `tslint-microsoft

[2018-12-29 02:59] VincentLanglet commented on #707
Seems like already planned https://github.com/Microsoft/tslint-microsoft-contrib/issues/677

[2018-12-29 02:59] #707 closed

[2018-12-29 03:06] VincentLanglet opened #708 "Question/Ask for documentation : No backbone get set outside model"
Is it possible to document the rule `no-backbone-get-set-outside-model` ?

I don't know how to fix the errors I received from this rules.
For example, with the code
[code]

How to get rid of the `get` call ?

[2018-12-29 03:21] JoshuaKGoldberg commented on #708
👋 @VincentLanglet - agreed the rule's docs aren't enough! Accepting a PR to add to them.

In the meantime, [this SO answer](https://stackoverflow.com/questions/47614630/tslint-backbone-get-called-outside-of-owning-model-meaning) linked to https://github.com/Microsoft/tslint-microsoft-contrib/issues/123 provides some more context. Is that what you were looking for?

[2018-12-29 05:53] reduckted commented on #703
How are you running that command? Selecting the _"Run TSLint Tests"_ debugging configuration in VS Code and starting debugging works fine for me. Here's the steps I took:

![debug](https://user-images.githubusercontent.com/10321525/50534016-a0ebb780-0b81-11e9-8555-b80250af6273.gif)

[2018-12-29 08:51] reduckted commented on #675
From the PR (#709):
1. `react-a11y-role-supports-aria-props` was using string concatenation in the description, but didn't have trailing spaces at the end of each string.
2. `react-a11y-role was using a template literal` with a new line and indentation in the middle.

[2018-12-29 10:38] reduckted opened #710 "src/.baseDir.ts is no longer needed"
https://github.com/Microsoft/tslint-microsoft-contrib/blob/95a9ec99a58379f47c427602cc195136eca57542/src/.baseDir.ts#L1

Given that grunt is no longer used, I'm pretty sure the `src/.baseDir.ts` file is no longer needed.

[2018-12-29 12:36] VincentLanglet commented on #708
@JoshuaKGoldberg Thanks for your quick answer

I saw the answer on stackoverflow but I didn't understand enough to solve my case. That's why I was thinking that many examples and how to fix them could be great on the wiki.
For what I understood, I should have something like `this.get('content-type')` and `response.headers.getContentType()`, but I don't know how to get there.

Moreover, since the r

[2018-12-29 13:47] JoshuaKGoldberg commented on #708
Oh, yes - if you don't use Backbone you should disable that rule.

[2018-12-29 13:48] #710 closed

[2018-12-29 14:36] VincentLanglet commented on #708
What about removing this rule of the recommended ruleset and adding it in the paragraph
[code]

It's seems weird to me to set a rule by default if it's designed for a specific library

[2018-12-29 14:42] JoshuaKGoldberg opened #716 "Stop including library-specific rules in the recommended ruleset"
Spinning off the discussion in #708: enabling the Backbone-related rules in the recommended ruleset is probably just a slight performance tick for the vast majority of users. Can we remove them by default? How about, say, the jQuery rules?

IMO the mocha/chai/etc. test rules should stay in, since that's the general shape of testing APIs in JavaScript test frameworks these days.

[2018-12-29 14:42] JoshuaKGoldberg commented on #708
Great idea! Filed #716 to track that as a breaking change in 7.0.

[2018-12-30 10:03] #675 closed

[2018-12-30 21:24] narthollis opened #749 "Rule `react-a11y-input-elements` incorrectly requiring placeholder for radio, checkbox, and file inputs"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**: 5.12.0
-   **TypeScript version**: 3.2.2
-   **Running TSLint via**: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

ERROR: 40:17    react-a11y-input-elements  Input elements must include default, place-holding characters if empty

#### Expected

[2018-12-30 23:20] IllusionMH commented on #716
May be makes sense to provide several configurations (IIRC it is possible, at least TSLint has `all` and `recommended`)?
So migration to next version will require only simple update of configuration to extend to include framework/lib specific checks.

[2018-12-30 23:29] lijunle opened #751 "Suggest rule: pair-react-dom-render-unmount"
### Rule Suggestion

**Is your rule for a general problem or is it specific to your development style?**

Yes

**What does your suggested rule do?**

The team did some investigation on performance and found there is memory leak because:

1) We call `ReactDOM.render` without `ReactDOM.unmountComponentAtNode` to unmount it.
2) We capture the returning value from `ReactDOM.render` without set it back

[2018-12-31 15:31] JoshuaKGoldberg commented on #751
Hi @lijunle, thanks for posting the results of your investigation here!

I'm not convinced this rule is something that should be promoted as a general-use good practice: there are times when you wouldn't want to call `unmountComponentAtNode`. For example, some React applications only ever call `ReactDOM.render` once on page startup. It'd be weird for them to start getting a TSLint complaint that t

[2018-12-31 15:32] JoshuaKGoldberg commented on #749
Agreed, thanks for pointing this out @narthollis! Accepting PRs to limit the

For future reference: it looks like the following if statement should also check the `type` attribute to make sure it's not one of the above types that don't need a placeholder value.

https://github.com/Microsoft/tslint-microsoft-contrib/blob/6c6e1d1fe6991ae3bb3f267e6f8c468316a00131/src/reactA11yInputElementsRule.ts#L53

[2018-12-31 15:44] noamyogev84 commented on #703
Hi @reduckted , exactly as you describe.
No breakpoint is being hit in my rule though.

Can you share the test folder content that's associated with the test your'e showing?

Thanks 🏆

[2019-01-02 00:42] #749 closed

[2019-01-02 08:38] lijunle commented on #751
@JoshuaKGoldberg I think that is a good point to not enable it by default. But even though a big application call `ReactDOM.render` once when the page startup, it *could better to* handle `ReactDOM.unmountComponentAtNode` on page close. That is a good practice.

[2019-01-02 11:32] IllusionMH commented on #703
I was able to reproduce this issue.
In my case it may work for some lines, and doesn't work for other.

For example I tried to place 3 breakpoints in [`src/validTypeofRule.ts`](https://github.com/Microsoft/tslint-microsoft-contrib/blob/051974247f7a8cd8f3be133478acd2a81ba4d1bf/src/validTypeofRule.ts#L29-L36)
[code]

These are simple lines that should definitely hit at least once, but e.g. first lin

[2019-01-02 14:30] JoshuaKGoldberg commented on #751
Really? Intuitively, if the page is closing, wouldn't that add unnecessary work that makes closing the page slower? Can you explain why or point to references that support your proposal? I might have to file some bugs if that's accurate 😄.

At any rate, this repo doesn't take in rules constrained to a single library. You'll want to file this issue on [tslint-react](https://github.com/Palantir/tsli

[2019-01-02 14:30] #751 closed

[2019-01-03 02:34] reduckted commented on #703
Nice find! I guess I got lucky with what I tried out. I can confirm that it _doesn't_ hit the breakpoints when I put them in any of those places in `validTypeOfRule.ts`.

I took a look at what tslint uses for its debugging of tests, and it appears that the `outFiles` property is required. Using this configuration, the breakpoints are hit:

[code]

I've also added the `cwd` and `runtimeArgs` proper

[2019-01-03 04:19] #703 closed

[2019-01-03 04:19] JoshuaKGoldberg commented on #703
/cc @roblourens - good case study in why VS Code debuggering is still a bit confusing.

[2019-01-03 04:48] reduckted commented on #703
Indeed. Not sure why it worked for some files, but failed for others.

I also discovered that, without `outFiles`, if you put a breakpoint in the compiled JavaScript file, VS Code would hit the breakpoint, but would stop at the corresponding place in the original TypeScript file instead of at the breakpoint in the JavaScript file. 🤯

[2019-01-03 05:48] lijunle commented on #751
Fine. I open an issue in tslint-react: https://github.com/palantir/tslint-react/issues/195

[2019-01-03 19:39] roblourens commented on #693
Me too, I just replaced all of our `void 0` :)

[2019-01-03 19:42] roblourens commented on #703
Glad you figured it out. Any ideas on how I could have made it more obvious? outFiles is not required but it is recommended to be used when possible.

vscode will still load the script's sourcemaps when the script loads, but there is a race between loading the sourcemap and running the line of code with the breakpoint. outFiles lets us pre-load sourcemaps off disk before running the program.

[2019-01-03 19:49] JoshuaKGoldberg commented on #703
How about a suggestion for this particular case of not including the `.ts` files? If some or all of these fields aren't filled out (read: if the user is putting breakpoints in a file that won't be included), and the user is placing breakpoints that aren't being hit, maybe some kind of informative dialog?

Right now we just get a generic "breakpoint won't be loaded" complaint without any indication

[2019-01-03 19:55] roblourens commented on #703
Yeah but I don't know whether anything has actually gone wrong yet, it may be that the file is just not loaded. And if the breakpoint was supposed to be hit, that describes many possible issues with the setup or the sourcemaps.

[2019-01-03 20:03] JoshuaKGoldberg commented on #703
Is there a way we could detect our use case? Suppose you have `source.js` with not-loaded breakpoints along with any (or maybe just both?) of...
* `//# sourceMappingURL=nodes.js.map` that matches up to a neighboring `source.ts`
* A project using TypeScript such as with `tsconfig.json` or an equivalent

[2019-01-03 22:03] dfee commented on #667
I just came across this too. It was because my `index.sass` file is imported like this: `import './index.sass'`.

I guess I'll wait for this to be merged into the next release.

[2019-01-03 23:22] roblourens commented on #703
The breakpoints will be in `source.ts` (if I understand you correctly) and the whole problem is that it hasn't been associated with a `source.js` file.

If we want to hint that the outFiles field *could* have been used, maybe we would want to detect when a sourcemap is loaded from disk but was not preloaded, then show a hint. But it is kind of specific.

[2019-01-04 23:21] VincentLanglet commented on #716
@JoshuaKGoldberg Indeed by creating multiple configuration you don't need for breaking change.

v6 can have tslint-microsoft-config, tslint-microsoft-config:all (doing the same) and tslint-microsoft-config:recommended, and tslint-microsoft-config can be deprecated and removed in v7.

[2019-01-07 12:39] ford04 commented on #435
Also same experience here with conflicting `"no-submodule-imports"`, `"no-implicit-dependencies"` and `"no-relative-imports"` rules.

I had defined an alias `@app` for absolute imports of project modules.
E.g. import xy from "@app/foo/bar"

What helped me, was to add this alias to the whitelist of the rules like this:

[code]

[2019-01-08 17:03] robgraeber opened #778 "No-relative-imports - allow-siblings flag not working"
### Bug Report

- __tslint-microsoft-contrib__: 6.0.0
- __TSLint version__: 5.12.0
- __TypeScript version__: 3.2.2
- __Running TSLint via__: CLI + VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
It's throwing an error for no-relative-imports.
#### Expected behavior
It would respect the "allow-siblings" flag and not be an error.

Th

[2019-01-08 17:08] IllusionMH commented on #778
@robgraeber thank you for raising issue. I will take a look on it.

[2019-01-08 17:17] robgraeber commented on #778
@IllusionMH now that I think about it, it could be an issue with tslint-config-airbnb since they're still on 5.2.1.

[2019-01-08 17:21] robgraeber commented on #778
I think tslint-config-airbnb was the culprit, apologies for the false alarm.

[2019-01-08 17:21] #778 closed

[2019-01-09 00:38] startswithaj commented on #667
I'm also finding I have the same error since updating package.

[code]

It's imports like these
`
import 'rxjs/add/operator/switchMap';
`

I've tried disabling the rule for that line, but it must try and parse it anyway.

[2019-01-09 14:52] IllusionMH opened #779 "Add more info about writing new rules to Contribution guidlines"
### Feature request

**Is your feature request related to a problem? Please describe.**
`CONTRIBUTING.md` doesn't have information or links to TSLint documentation on how to write custom rules. Only links to testing (for new format) are available ATM.

Better to have all useful for contribution links in `CONTRIBUTING.md`. In this way it will be easier for newcomers to find all necessary info.

**D

[2019-01-10 18:48] JoshuaKGoldberg commented on #656
Ping @lupine86 - are you still interested in these changes? Travis has been a bit flaky lately so it'd be nice to switch to something else.

[2019-01-10 18:51] #693 closed

[2019-01-11 03:34] #697 closed

[2019-01-14 02:15] IllusionMH opened #785 "no-control-regex doesn't catch erros on escaped strings"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**: 5.12.0
-   **TypeScript version**: 3.1.1
-   **Running TSLint via**: CLI

Difference in behavior during test mighration mentioned in [comment](https://github.com/Microsoft/tslint-microsoft-contrib/pull/665#discussion_r246965219)

#### TypeScript code being linted
[code]
with `tslint.json` configuration:

[cod

[2019-01-14 03:01] IllusionMH opened #786 "function-name rule has mismatches in options schema/meta, readme description, and actually accepted rules"
### Feature request

**Is your feature request that we implement a new rule?**
No

**Is your feature request related to a problem? Please describe.**

1. [README description](https://github.com/Microsoft/tslint-microsoft-contrib/blame/master/README.md#L109-L130) of `function-name` has only description of object with regular expression, but no mention of string flag.

1. `function-name` [rule meta]

[2019-01-14 03:11] reduckted commented on #672
Not sure if this will affect v7 of this package, but you may want to check out the TypeScript Roadmap regarding linting, because it seems to have an impact on TSLint.

https://github.com/Microsoft/TypeScript/issues/29288

[2019-01-15 21:30] urzolaj commented on #435
This is not possible for Angular 7. Already tried every answer on the web :(

[2019-01-18 19:19] ford04 commented on #435
Sorry to hear that. I can only speak from a react-ts app perspective. Solution above worked for me.

[2019-01-19 14:48] JoshuaKGoldberg opened #788 "Planning for 6.1.0"
Looks like it's been a while since the last release!

* `void-zero` was added by @lizzzp1
* @drexler and @reduckted have converted most of the rules to the new walker format

Once the rule switching is done, let's release 6.1.0?

Edit: yes!

* #692 adding `react-a11y-iframes` from @noamyogev84

[2019-01-19 15:14] IllusionMH commented on #788
Could you take a look at #692?
I think it can be included into `6.1.0` too

[2019-01-19 20:52] #204 closed

[2019-01-23 22:35] lupine86 commented on #656
@JoshuaKGoldberg  Hey Josh - yes! - I may not be able to get to them this week but it is only my list.

[2019-01-24 21:53] imsolost opened #796 "react-unused-props-and-state doesn't understand usage in setState"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**: 5.12.1
-   **TypeScript version**: 3.2.4
-   **Running TSLint via**: CLI

#### TypeScript code being linted

https://github.com/imsolost/test-app/blob/master/src/App.tsx

[code]

with `tslint.json` configuration: https://github.com/imsolost/test-app/blob/master/tslint.json

[code]

#### Actual behavior
The pr

[2019-01-26 16:49] JoshuaKGoldberg commented on #796
Great catch! The `(_state, props)` updater passed to `setState` is a valid way to access props, but the rule doesn't seem to know that. Accepting PRs to fix that bug.

[2019-02-02 17:43] #671 closed

[2019-02-02 19:52] JoshuaKGoldberg opened #808 "Move documentation from the wiki into ./docs"
Talked offline a bit with @IllusionMH on this one. It's been a bit annoying having the docs in the wiki, separate from the code. I'd like to see them moved into `./docs` to be managed with the code.

[2019-02-02 23:44] JoshuaKGoldberg commented on #489
Ha oops...

[2019-02-03 00:44] WillSquire commented on #85
The thing with Mocha and Jest's way of preparing tests with `before()`, `beforeAll()`, etc, is that it involves using `var` or `let` to perform variable reassignment. If the idea is to be more functional and avoid side effects, then this rule seems to be a bit of a contradiction to itself?

[2019-02-03 01:17] WillSquire commented on #435
Tweaked @ford04's solution and it seems to work well with a default React project structure:
[code]

[2019-02-03 22:34] #654 closed

[2019-02-04 14:47] pierre-aurele-martin opened #811 "react-unused-props-and-state malfunctioning"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**: 5.12.1
-   **TypeScript version**: 3.2.2
-   **Running TSLint via**: CLI && Code

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

By just using this.props in render(), I'm disabling the alert for UnUsed React Props.

#### Expected behavior

The linte

[2019-02-04 16:10] IllusionMH commented on #811
Looks like this is design limitation.
In your example whole `props` object is used (to assign it to new variable) and in general case it is impossible to tell whether it was used at all.

Rule checks `this.props.someProp` usages, removes them from list of unused, and then highlight any prop that is still in list, but when whole `this.props` or `this.state`  is used then list is cleared because all

[2019-02-05 00:05] devaradhanm opened #812 "Ignore test.each in mocha-no-side-effect-code"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**:5.12.1
-   **TypeScript version**:3.2.4

Similar to #545
[code]

[2019-02-06 14:12] pierre-aurele-martin commented on #811
To note that it's the samething for state as long as your writing :

`this.state = {...}`

in your constructor, every states are considered as used.

Thank you for the quick answer,

[2019-02-06 14:12] #811 closed

[2019-02-06 15:47] IllusionMH commented on #811
Thanks for pointing this out.

While `const a = this.props` and `const b = this.state` at this point should mark all props as used.
I think that `this.state = {...}` should be an exception.

I'll check logic and create separate issue if this one shouldn't mark all properties(keys) as used.

[2019-02-07 03:27] cyberhck opened #813 "react-bind-this-issue doesn't detect bind decorators defined after usage"
### Bug Report

-   **`tslint-microsoft-contrib` version**: latest
-   **TSLint version**: latest
-   **TypeScript version**: latest
-   **Running TSLint via**: (pick one) CLI

In PR #534 , I introduced a feature, but it contains a missing feature A.K.A 🐛

It does half the work, it only detects bound methods above usage, and not the ones below usages.

#### TypeScript code being linted

[code]

wi

[2019-02-07 11:02] IllusionMH commented on #813
Good catch 😄

I think it is possible not to add methods to list when they are walked, but instead compose list of all bound/unbound methods as soon walker reaches `ClassDeclaration` node.
So it basically would get `members` property, iterate over it and use existing logic for `MethodDeclatation`'s (check if there are bind decorators), `PropertyDeclaration`s (mark lambdas as bound), and `Constructo

[2019-02-07 16:41] IllusionMH commented on #812
Is it Mocha API or some custom module/implementation?

[2019-02-08 13:10] michaelw85 opened #814 "export-name does not work with kebab/snake case"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**: 5.12.1
-   **TypeScript version**: 3.3.1
-   **Running TSLint via**: CLI / VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
The exported module or identifier name must match the file name. Found: my-component.ts and MyComponent tslint(export-na

[2019-02-09 08:13] cyberhck commented on #813
I'm not sure if I can get free time to do this, if someone else wants to give it a try, please do, I'll try  if I find free time.

[2019-02-09 08:39] cyberhck opened #815 "export-name throwing an error"
### Bug Report

-   **`tslint-microsoft-contrib` version**: latest
-   **TSLint version**: latest
-   **TypeScript version**: latest
-   **Running TSLint via**: (pick one) CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
![image](https://user-images.githubusercontent.com/3640284/52518671-d4415c00-2c80-11e9-90a3-7254873d694c.png)
[code]

[2019-02-09 08:41] cyberhck commented on #815
here's my state of project, it's basically empty:
![image](https://user-images.githubusercontent.com/3640284/52518685-17033400-2c81-11e9-89f9-3b434f0a75c9.png)

![image](https://user-images.githubusercontent.com/3640284/52518687-21bdc900-2c81-11e9-87f0-f01cd204998a.png)

[2019-02-09 12:34] IllusionMH commented on #815
Looks like duplicate of #664.

[2019-02-09 12:52] cyberhck commented on #815
woops, sorry about that 😄

[2019-02-09 12:52] #815 closed

[2019-02-09 12:53] cyberhck commented on #664
is this fixed? Which version is it fixed in? I did update everything to latest one.

[2019-02-09 14:04] IllusionMH commented on #664
@cyberhck not releases yet.  `6.1` is tracked in #788

[2019-02-09 19:52] IllusionMH opened #816 "Make strict order of rules in README.md"
### Feature request

**Is your feature request that we implement a new rule?**
No

**Is your feature request related to a problem? Please describe.**
I've noticed that rules are not sorted alphabetically which might make it harder to find rules.
As was discussed with @JoshuaKGoldberg offline -#575 is preferred fix for documentation, however, enforcing sort order in a meantime is acceptable fix

**

[2019-02-09 19:56] IllusionMH commented on #648
In offline discussion `@next` was picked.

[2019-02-10 22:14] #648 closed

[2019-02-10 22:14] #816 closed

[2019-02-11 23:11] devaradhanm commented on #812
Using jest framework

[2019-02-12 21:57] itanex opened #819 "Visual Studio reports `defaultSeverity` as warning"
### Bug Report
I am setting up TSLint support for Visual Studio 2017. I have included this plug-in in my tsconfig.json file and, while it takes a moment to run its analysis, I do get results in the Error Window. However, I set the `defaultSeverity` to `error` with the expectation that the TSLint results would show up as `Errors` in the Error Window. When I run TSLint through the CLI, the results a

[2019-02-12 22:14] #819 closed

[2019-02-12 22:29] IllusionMH commented on #819
@itanex this repo only provides lint rules and should not affect severity or integration with IDE.
As you noted - CLI gives correct results, so this issue should be filled against extension that you use in VS2017.
It may be the case that `defaultSeverity` is not yes supported by this extension.

[2019-02-12 22:50] itanex commented on #819
Yeah I have been jumping around repos all morning and accidentally posted here.  I closed it since it was a mistake.

[2019-02-13 23:00] IllusionMH opened #820 "Fix code that should open new files in `create-rule` script"
### Feature request

**Is your feature request that we implement a new rule?**
No

**Is your feature request related to a problem? Please describe.**
As was mentioned in #817 - `create-rule` doesn't open newly created files because `VSCODE_CWD` in no longer available in terminals opened from VS Code. Instead it is better to check `TERM_PROGRAM` which was added for this purpose (I think) https://gi

[2019-02-13 23:17] IllusionMH opened #821 "Update recommended extensions list to use vscode-typescript-tslint-plugin"
### Feature request

**Is your feature request that we implement a new rule?**
No

**Is your feature request related to a problem? Please describe.**
Looks like with latest VS Code release (1.31.0) [vscode-tslint extension](https://marketplace.visualstudio.com/items?itemName=eg2.tslint) was deprecated in favor of [.vscode-typescript-tslint-plugin extension](https://marketplace.visualstudio.com/ite

[2019-02-14 18:20] ogiexela commented on #110
how can one specify the size of the array?

const foo = new Array(10)
?

[2019-02-14 20:02] IllusionMH opened #822 "prefer-array-literal: how can one specify the size of the array?"
how can one specify the size of the array?

const foo = new Array(10)
?

_Originally posted by @ogiexela in https://github.com/Microsoft/tslint-microsoft-contrib/issues/110#issuecomment-463734744_

[2019-02-14 20:23] IllusionMH commented on #822
@ogiexela it depends on case what you want to achieve.

Using `new Array` rarely have any advantages (e.g. it won't create optimized arrays [thread](https://twitter.com/rauschma/status/1066335138798276609)), however behaves differently if there is one or more arguments that leads to errors. Therefore this rule was created.

In general case it is better to use `[]` and fill it with values later (se

[2019-02-16 10:17] Cayan commented on #667
I receive this error when I try to import `core-js`

[2019-02-17 20:04] #808 closed

[2019-02-18 02:29] JoshuaKGoldberg opened #825 "Use in-place compilation instead of directory swapping"
Right now, files are compiled in the build system from `.ts` sources in `src/` to under `dist/src`, then `dist/build`. That's no longer really necessary. As a breaking change for 7.0 (tracking as part of #672), let's change to compiling from `src/*.ts` to `src/*.js`. That way we don't have to have a different directory structure for the releases branch.

[2019-02-19 12:21] shiftkey commented on #796
I've got my eye on addressing this one after #824 lands, now that I know more about how the rule works.

[2019-02-19 13:03] #677 closed

[2019-02-19 13:03] #716 closed

[2019-02-19 13:14] #339 closed

[2019-02-20 14:52] lizzzp1 commented on #279
Would like this one as well. I can take this. Anything additional to note than what the description supplies?

[2019-02-20 20:27] ogiexela commented on #822
What about the case where I already know the exact size that I need the array to be.
Then according to this per-defined size array performs better.
Or am I missing something?

https://jsperf.com/push-method-vs-setting-via-key/23

![image](https://user-images.githubusercontent.com/29718271/53122001-7d127580-3523-11e9-9e7a-93bd63510bfd.png)

[2019-02-21 00:00] IllusionMH commented on #822
It will depend on your use cases. As mentioned in [this tweet](https://twitter.com/mathias/status/1064905990363996160) you see that `new Array` will be faster to create array and fill it with index access.

If your application creates new big arrays really often and usually uses regular `for` loop to iterate though this array - `new Arraly(length)` most likely will be better fo performance.
And yo

[2019-02-21 18:12] djomaa opened #830 "Add case sensitivity to 'import-name' rule"
### Rule improvement suggestion

This rule improvement is specific for my development style, but it would not affect general style.

#### Why
Let's say, there is a rule for file naming using `dots.case` and a rule to use `export default` only for `constructor`s. So importing variable should be named in `PascalCase`. Current `import-name` rule would not allow this.

#### Suggestion
I suggest adding

[2019-02-21 21:51] willsmythe commented on #656
@JoshuaKGoldberg - I am a PM at Microsoft and work with @lupine86. We are happy to help on this. Give us a few days to dust things off, rebase, etc.

[2019-02-22 21:07] shiftkey opened #831 "unable to resolve rules in latest beta release"
### Bug Report

-   **`tslint-microsoft-contrib` version**: `tslint-microsoft-contrib@6.1.0-beta`
-   **TSLint version**: `tslint@5.12.1`
-   **TypeScript version**: `typescript@3.2.2`
-   **Running TSLint via**: (pick one) CLI - `tslint -p .`

#### TypeScript code being linted

N/A

with `tslint.json` configuration:

[code]

#### Actual behavior

[code]

#### Expected behavior

Rules are found an

[2019-02-22 21:32] IllusionMH commented on #831
Thanks for the report! Investigating now

[2019-02-22 22:07] IllusionMH commented on #831
I think that we've identified issue with package and will republish correct package.

[2019-02-23 00:45] JoshuaKGoldberg commented on #831
`tslint-microsoft-contrib@6.1.0-beta2` is published `@beta`, and `tslint-microsoft-contrib@6.0.0` is published `@latest` again.

Thanks @IllusionMH for help resolving this!

@shiftkey for context, we're switching to a new releases system, and I mistakenly published from the wrong branch. We're hoping to move to a simpler system soon, and automate it.

[2019-02-23 00:45] #831 closed

[2019-02-23 00:46] JoshuaKGoldberg commented on #831
I've installed locally to confirm the expected files are there. Please do comment here if that's not the case for you!

[2019-02-23 15:10] shiftkey commented on #831
@JoshuaKGoldberg @IllusionMH thanks for the fast turnaround. I'll follow up if I still have any issues with the latest beta.

[2019-02-23 17:23] JoshuaKGoldberg commented on #279
Awesome, thanks @lizzzp1! There's not much that I can think of. One corner case would be `...` props: the rules should use the type checker to determine if the handlers are in them.

[2019-02-23 17:43] JoshuaKGoldberg commented on #830
Hi @djomaa! I'm a little confused about what the exact difference is you're proposing. Can you elaborate on the different situations for import names you're thinking of, and for each of them, what the behavior of the rule is now compared to what you'd like it to be?

[2019-02-23 17:48] JoshuaKGoldberg commented on #822
Sure, seems reasonable to add a flag to allow just the case of the constructor with 1 argument. The flag should allow arrays to be created with `new` _only_ when there is a single argument of type `number`.

A few thoughts:
* This requires the type checker, for the case of variables being used instead of literals
* Types that can include non-number types, such as union types and generic types not

[2019-02-24 21:30] cafesanu opened #833 "Moving to ESLint and TSLint deprecation"
### Feature request
Given the [TS 2019 roadmap](https://github.com/Microsoft/TypeScript/issues/29288) and the future deprecation of [TSLint](https://github.com/palantir/tslint/issues/4534), I'm wondering if there will be any work in this library to transfer any TSLint rules that still do not exist in ESLint to ESLint.

Thanks

**Is your feature request that we implement a new rule?**
Please use th

[2019-02-25 17:06] abierbaum commented on #435
Just ran across this project that may be relevant to some people in this discussion.

https://github.com/vladimiry/tslint-rules-bunch

[2019-02-26 17:04] IllusionMH commented on #830
As I see - this change is aimed to adopt this rule for applications that extensively use default imports of classes (and namespace objects?) which aren't allowed ATM. And I agree with this proposal.

How about cases when app (pretty big) has both default exports of classes and factories/helpers?
@djomaa @JoshuaKGoldberg do you think it makes sense to allow third option `any` (or other name) - less

[2019-02-26 17:27] apawast commented on #656
@JoshuaKGoldberg Hey Josh! I'm also a PM at Microsoft and work with @lupine86 and @willsmythe. I've updated the pipeline to run on both Windows and Linux and versions 6, 8, 10, and 11. Look out for an email from me today so I can understand and help you with your NuGet requirements better.

[2019-02-27 07:56] djomaa commented on #830
@JoshuaKGoldberg Current rule implementation converts each file name to camelCase, and then compares it with the variable name. Thus, there is no way to name variables using PascalCase without changing a file name.

Some examples can be seen in the pull request related to this issue (thx @IllusionMH).
Let me know if you need more examples.

@IllusionMH It can be done. Frankly speaking, that's what

[2019-03-02 08:23] noamyogev84 commented on #195
I'll play with this one. 🔬

[2019-03-02 15:58] JoshuaKGoldberg commented on #656
Awesome! Let's keep the majority of discussions here, but I've also emailed you asking for my personal email (diogenesthecynic@hotmail.com) to be added to dev.azure.com/tslint-microsoft-contrib. There's really nothing stopping us from onboarding Azure Pipelines *alongside* CircleCI, providing all maintainers who at Microsoft and/or active in maintaining (HamletDRC, IllusionMH, and myself) have acc

[2019-03-02 15:59] JoshuaKGoldberg commented on #656
Awesome! Let's keep the majority of discussions here, but I've also emailed you asking for my personal email (diogenesthecynic@hotmail.com) to be added to dev.azure.com/tslint-microsoft-contrib. There's really nothing stopping us from onboarding Azure Pipelines *alongside* CircleCI, providing all maintainers who at Microsoft and/or active in maintaining (HamletDRC, IllusionMH, and myself) have acc

[2019-03-04 04:21] huan086 opened #836 "react-a11y-no-onchange should allow onChange when onBlur is present"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.0.0
-   **TSLint version**: 5.12.1
-   **TypeScript version**: 3.3.3
-   **Running TSLint via**: webpack fork-ts-checker-webpack-plugin

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
`react-a11y-no-onchange: onChange event handler should not be used with the <select>. Please u

[2019-03-05 13:11] lizzzp1 commented on #279
@JoshuaKGoldberg do you think these are one rule or two different ones?
Based on peeking at this:
https://github.com/reactjs/react-a11y/blob/master/docs/rules/click-events-have-key-events.md
https://github.com/reactjs/react-a11y/blob/master/docs/rules/mouse-events-have-key-events.md

[2019-03-05 13:33] JoshuaKGoldberg commented on #279
@lizzzp1 +1 for the prior art. Yes, let's make these two different rules.

[2019-03-06 14:30] VincentLanglet commented on #716
@JoshuaKGoldberg I think the PR does not solve this issue.
For example the backbone related rule is still active.
https://github.com/Microsoft/tslint-microsoft-contrib/pull/809/files#diff-3833edc218170b17d9bac70044d7f313

[2019-03-06 14:53] JoshuaKGoldberg commented on #716
Hmm, perhaps this means we should have a `latest` and `all` ruleset split...

[2019-03-06 15:04] VincentLanglet commented on #716
Yes, I agree.

- `recommended` is a subset of all rules, minor version doesn't add breaking changes.
- `latest` is the `recommended` rules for the next major version, but still a `subset` of all rules.
- `all` is all.

[2019-03-06 17:16] sangheestyle commented on #110
@ogiexela You can use `const foo = Array(10)` instead of `const foo = new Array(10)`. The result will be the same but `prefer-array-literal` will be disappeared immediately.

https://stackoverflow.com/a/8205709/568901

[2019-03-07 02:18] JoshuaKGoldberg commented on #110
Oh that sounds like a bug in the rule...

[2019-03-07 13:14] sangheestyle commented on #110
@JoshuaKGoldberg OK. how can I help this issue?

[2019-03-07 14:34] JoshuaKGoldberg commented on #110
That'd be great! Would you mind filing a new issue describing what you're seeing regarding being allowed to use `= Array(10)` but not `new Array(10)`? Including the normal information included with issues (version, code snippets, etc).

[2019-03-07 15:04] sangheestyle commented on #110
@JoshuaKGoldberg Yes, I will do. I just checked which ts-lint actually does `prefer-array-literal` and I found it is by `tslint-microsoft-contrib`.

https://github.com/palantir/tslint/issues/2946#issuecomment-310581618

I am going to test it with up-to-date version of `tslint-microsoft-contrib` then I will create issue.

[2019-03-07 15:25] sangheestyle opened #839 "prefer-array-literal: catch new Array(10) but not Array(10)"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.1.0
-   **TSLint version**: 5.11.0
-   **TypeScript version**: 3.3.3333
-   **Running TSLint via**: (pick one) Node.js

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

With `tslint -c tslint.json -p tsconfig.json`, `Array(10)` didn't detected.

[code]

#### Expected behavior

W

[2019-03-07 15:25] sangheestyle commented on #110
@jonascarlsonschmidt Created. Thanks for guiding me.

https://github.com/Microsoft/tslint-microsoft-contrib/issues/839

[2019-03-08 08:32] HiroshiOHSUGA opened #841 "Rule react-a11y-input-elements incorrectly requiring value for file input"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.1.0
-   **TSLint version**: 5.13.1
-   **TypeScript version**: 3.3.3333
-   **Running TSLint via**: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
`ERROR: (react-a11y-input-elements) /....../X.tsx[4, 5]: Input elements must include default, place-holding characters if empt

[2019-03-10 23:21] #821 closed

[2019-03-10 23:39] JoshuaKGoldberg commented on #839
Good find! Looks like the rule checks nodes that are `NewExpression`s but not `CallExpression`s.

[2019-03-10 23:40] JoshuaKGoldberg commented on #841
Perhaps @jcnsilva  or @lizzzp1 might have input? 😊

[2019-03-11 12:33] lizzzp1 commented on #841
https://github.com/Microsoft/tslint-microsoft-contrib/pull/754#discussion_r244640386
Seems like the error isn't specific enough, but should probably not require a value from certain inputs.

[2019-03-11 13:25] JoshuaKGoldberg commented on #841
Oh is this issue a duplicate of #749 then?

@HiroshiOHSUGA could you try with v6.1.0 of the tslint-microsoft-contrib package?

[2019-03-11 13:40] IllusionMH commented on #841
Actually looks like problem in logic: as I understand #749 and #754  - this test case shouldn't contain erros: [ReactA11yInputElementsRuleTests.ts#L34-L62](https://github.com/Microsoft/tslint-microsoft-contrib/blob/master/src/tests/ReactA11yInputElementsRuleTests.ts#L34-L62) after fix applied

[2019-03-12 13:09] JoshuaKGoldberg commented on #279
Hmm, now I'm wondering whether it makes sense to take on the overhead of a typed rule... let's say that can be an optional nice-to-have as a followup.

[2019-03-13 12:40] #814 closed

[2019-03-13 12:45] arthurdenner opened #844 "Update w3 reference in the react-a11y-role rule"
Currently, the `react-a11y-role` rule points to an [old URL](https://www.w3.org/TR/wai-aria/roles#role_definitions) that doesn't exist anymore.

I never saw the previous URL, but I believe the content was the same contained in [this URL](https://www.w3.org/TR/wai-aria-1.1/#role_definitions).

However, we also have [this new URL](https://www.w3.org/WAI/PF/aria/roles#roles_categorization) that seems

[2019-03-13 12:49] JoshuaKGoldberg commented on #844
Good catch! Let's go with the apparent new URL, https://www.w3.org/TR/wai-aria-1.1/#role_definitions.

[2019-03-13 12:50] JoshuaKGoldberg opened #845 "Add a 'formatted with Prettier' badge to the README.md"
Who doesn't like a little extra flair? ✨

[2019-03-13 15:27] #845 closed

[2019-03-13 17:10] #844 closed

[2019-03-16 01:26] #656 closed

[2019-03-20 09:25] HiroshiOHSUGA commented on #841
Any updates on this issue?

[2019-03-21 01:48] #839 closed

[2019-03-21 01:49] JoshuaKGoldberg commented on #833
Hey @cafesanu, absolutely! You can see the [typescript-eslint](https://typescript-eslint.io) roadmap here: https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/ROADMAP.md.

There are lists there for both the main TSLint repository and this contrib ruleset.

[2019-03-21 01:49] #833 closed

[2019-03-27 16:53] rbirkgit opened #851 "v6.1.0 using deprecated rules"
### Bug Report

-   **`tslint-microsoft-contrib` version**:
6.1.0

-   **TSLint version**:
5.14.0

-   **TypeScript version**:
3.2.4

-   **Running TSLint via**: (pick one) CLI / Node.js API / VSCode / grunt-tslint / Atom / Visual Studio / etc
CLI

#### TypeScript code being linted
with `tslint.json` configuration:

[code]

#### Actual behavior

Warning: no-function-constructor-with-string-args ru

[2019-03-27 17:20] IllusionMH commented on #851
@rbirkgit this is intended behavior `tslint-microsoft-contrib` rules list is alias for legacy list, and will remain in this way until next major release to avoid "breaking" projects that don't want to update TSLint core or their configuration. See details here: https://github.com/Microsoft/tslint-microsoft-contrib#legacy

You can use `"tslint-microsoft-contrib/recommended"` (stable list of rules t

[2019-03-27 17:39] rbirkgit commented on #851
Thanks for this explanation. I missed this part!

[2019-03-28 16:37] #851 closed

[2019-03-29 13:08] jeffryang24 opened #853 "import-name rule should support regex pattern matching"
### Rule Suggestion

**Is your rule for a general problem or is it specific to your development style?**

I think it is only for my development style, but it could be useful for the general problem too.

**What does your suggested rule do?**

Currently, `import-name` only supports static name matching, such as: `underscore` to `_`, etc. But, I actually found that the `import-name` rule also suppor

[2019-03-31 21:19] #813 closed

[2019-03-31 21:23] JoshuaKGoldberg commented on #853
Alas, right now it does not. That would be a feature request.

Yes please! That'd be great!

However, we should note that there might be backwards compatibility issues: if an existing rule configuration is meant to explicitly refer to a single path, and that path happens to include characters that mean something in a regular expression, adding in regex support would change the rule's behavior. How

[2019-04-03 13:20] #836 closed

[2019-04-09 09:02] NateScarlet opened #856 "False positive for prefer-array-literal when using `Array` from other namespace"
### Bug Report

-   **`tslint-microsoft-contrib` version**: 6.1.0-beta2
-   **TSLint version**: 5.12.1
-   **TypeScript version**: 3.3.3333
-   **Running TSLint via**:  VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Got `Replace Array constructor with an array literal: new Types.Array() (prefer-array-literal)tslint(prefer-array-l

[2019-04-12 12:25] villelahdenvuo commented on #387
@JoshuaKGoldberg This is actually not a duplicate of #430 and not fixed by #451. If I have a default export `export default class User {...}` and try to import it: `import User from './models/user';` tslint complains. `Misnamed import. Import should be named 'user' but found 'User' (import-name)` unless I rename the file to User.ts. So like in **export**-name in #430 there should be ignore-case op

[2019-04-19 12:21] JoshuaKGoldberg commented on #856
Good find @NateScarlet! Looks like the node should not be complained on if its `.paren` is a `ts.PropertyAccessExpression`.

[2019-04-19 12:23] #788 closed

[2019-04-19 12:24] JoshuaKGoldberg opened #857 "Planning for 6.3.0"
Looks like it's been a while since the last release!

Following #788, what should be in?

- [ ] https://github.com/Microsoft/tslint-microsoft-contrib/issues/432: emojis!
- [ ] A few more rules around a11y would be nice!

[2019-04-19 12:24] #645 closed

[2019-04-19 12:27] #151 closed

[2019-04-19 12:34] JoshuaKGoldberg commented on #676
We've been talking about removing this from the recommended ruleset, since the rule is no longer really good practice (and debatably never was!). #309

For folks who discover this: @astorije is right, we can either do silly things to trump the linter or just... disable this relatively less useful rule!

[2019-04-19 12:34] #676 closed

[2019-04-22 13:24] #279 closed

[2019-04-22 13:25] JoshuaKGoldberg commented on #658
Closing as a duplicate of #339. Thanks for the discussion folks!

[2019-04-22 13:25] #658 closed

[2019-04-22 13:27] JoshuaKGoldberg commented on #37
Closing as duplicate of #161, which is a bit more general of a rule suggestion.